Repository red-hat-data-services/pipelines-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
      - id: yamllint
        name: yamllint
        entry: uv run yamllint -c .yamllint.yml
        language: system
        types: [yaml]
      - id: import-guard
        name: import-guard
        entry: >
          uv run python .github/scripts/check_imports/check_imports.py
          --config .github/scripts/check_imports/import_exceptions.yaml
        language: system
        types: [python]
        files: ^(components|pipelines)/
      - id: validate-readme
        name: validate-readme
        entry: >
          bash -c '
          changed_dirs=$(echo "$@" | xargs -n1 dirname | grep -E "^(components|pipelines)/[^/]+/[^/]+$" | sort -u);
          if [ -n "$changed_dirs" ]; then
            ./.github/scripts/validate_readmes/test-readme-check.sh $changed_dirs || exit 1;
          fi
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/[^/]+/
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli@0.39.0 --fix -c .markdownlint.json
        language: system
        types: [markdown]
      - id: validate-metadata
        name: validate-metadata
        entry: >
          bash -c '
          changed_dirs=$(echo "$@" | xargs -n1 dirname | sort -u);
          for dir in $changed_dirs; do
            if [[ -f "$dir/metadata.yaml" && -f "$dir/OWNERS" ]]; then
              echo "Validating metadata for $dir";
              uv run python scripts/validate_metadata/validate_metadata.py --dir "$dir" || exit 1;
            fi;
          done
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/(metadata\.yaml|OWNERS)$
      - id: validate-base-images
        name: validate-base-images
        entry: >
          bash -c '
          components=();
          pipelines=();
          for file in "$@"; do
            if [[ "$file" =~ ^components/[^/]+/[^/]+/component\.py$ ]]; then
              dir=$(dirname "$file");
              components+=("--component" "$dir");
            elif [[ "$file" =~ ^pipelines/[^/]+/[^/]+/pipeline\.py$ ]]; then
              dir=$(dirname "$file");
              pipelines+=("--pipeline" "$dir");
            fi;
          done;
          if [[ ${#components[@]} -gt 0 || ${#pipelines[@]} -gt 0 ]]; then
            echo "Validating base images for changed components/pipelines";
            uv run python scripts/validate_base_images/validate_base_images.py \
              "${components[@]}" "${pipelines[@]}" || exit 1;
          fi
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/[^/]+/(component|pipeline)\.py$

Change default registry in AutoRAG image
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
Due: yamllint, validate-readme

build(AutoRAG): update ai4rag==0.5.6, docling==2.84.0, pillow==12.3.0 (#139)
  components/training/autorag/rag_templates_optimization/notebook_templates/ls_indexing_template.ipynb
  components/training/autorag/rag_templates_optimization/notebook_templates/ls_inference_template.ipynb
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements-pypi-whl.txt
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: yamllint, validate-readme

fix(automl): exclude CatBoost from tabular training
  components/training/automl/autogluon_models_training/README.md
  components/training/automl/autogluon_models_training/component.py
  components/training/automl/autogluon_models_training/tests/test_component_unit.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/README.md
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint

managed=true for for pipeline building a production vector index
  pipelines/data_processing/autorag/documents_indexing_pipeline/metadata.yaml
Due: yamllint, validate-readme

Update README.md
  pipelines/data_processing/autorag/documents_indexing_pipeline/README.md
Due: validate-readme, markdownlint

build(automl): upgrade autogluon to 1.5.0+rhaiv.5
  components/training/automl/shared/notebook_templates/classification_notebook.ipynb
  components/training/automl/shared/notebook_templates/regression_notebook.ipynb
  components/training/automl/shared/notebook_templates/timeseries_notebook.ipynb
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.in
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
Due: validate-readme

feat(autorag): rewrite indexing component and expose pipeline params
  components/data_processing/autorag/README.md
  components/data_processing/autorag/documents_indexing/README.md
  components/data_processing/autorag/documents_indexing/component.py
  components/data_processing/autorag/documents_indexing/example_pipelines.py
  components/data_processing/autorag/documents_indexing/indexing_report_template.html
  components/data_processing/autorag/documents_indexing/tests/test_component_unit.py
  components/training/autorag/rag_templates_optimization/README.md
  components/training/autorag/rag_templates_optimization/component.py
  components/training/autorag/rag_templates_optimization/example_pipelines.py
  components/training/autorag/rag_templates_optimization/tests/test_component_unit.py
  pipelines/data_processing/autorag/documents_indexing_pipeline/README.md
  pipelines/data_processing/autorag/documents_indexing_pipeline/pipeline.py
  pipelines/data_processing/autorag/documents_indexing_pipeline/tests/test_pipeline_unit.py
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.py
  pyproject.toml
  requirements.txt
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint

fix(autorag): sort imports and regenerate indexing pipeline README
  pipelines/data_processing/autorag/documents_indexing_pipeline/README.md
  pipelines/data_processing/autorag/documents_indexing_pipeline/tests/test_pipeline_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint

build(deps,autorag): Update ai4rag to 0.10.3
  components/data_processing/autorag/documents_discovery/README.md
  components/data_processing/autorag/documents_discovery/metadata.yaml
  components/data_processing/autorag/documents_indexing/README.md
  components/data_processing/autorag/documents_indexing/metadata.yaml
  components/training/autorag/metadata.yaml
  components/training/autorag/rag_templates_optimization/README.md
  components/training/autorag/rag_templates_optimization/metadata.yaml
  components/training/autorag/rag_templates_optimization/requirements.txt
  components/training/autorag/search_space_preparation/README.md
  components/training/autorag/search_space_preparation/metadata.yaml
  pipelines/data_processing/autorag/documents_indexing_pipeline/README.md
  pipelines/data_processing/autorag/documents_indexing_pipeline/metadata.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/README.md
  pipelines/training/autorag/documents_rag_optimization_pipeline/metadata.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.in
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: yamllint, validate-readme, markdownlint

chore(automl, autorag): switch AIPCC PyPI index from cpu-ubi9-test to cpu-ubi9
  components/training/automl/shared/notebook_templates/classification_notebook.ipynb
  components/training/automl/shared/notebook_templates/regression_notebook.ipynb
  components/training/automl/shared/notebook_templates/timeseries_notebook.ipynb
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.in
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.in
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
  scripts/refresh_pipeline_requirements/tests/test_refresh_pipeline_requirements.py
Due: ruff-format, ruff-check, validate-readme

build(autorag, automl): Update AIPCC base images digests
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
Due: none

build(autorag, automl): Update AIPCC base images digests (#149)
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
Due: none

chore(automl, autorag): switch AIPCC PyPI index from cpu-ubi9-test to cpu-ubi9 (#150)
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
  components/training/automl/shared/notebook_templates/classification_notebook.ipynb
  components/training/automl/shared/notebook_templates/regression_notebook.ipynb
  components/training/automl/shared/notebook_templates/timeseries_notebook.ipynb
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.in
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.in
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
  scripts/refresh_pipeline_requirements/tests/test_refresh_pipeline_requirements.py
Due: ruff-format, ruff-check, validate-readme

feat(automl): Restore predictor_metadata.json in timeseries training
  components/training/automl/autogluon_timeseries_models_training/component.py
  components/training/automl/autogluon_timeseries_models_training/tests/test_component_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme

chore(autorag): add langchain-protocol to requirements.txt
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

chore(autorag): remove duplicated defusedxml from requirements.txt
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

chore(autorag): add missing packages
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

chore(autorag): add missing dependencies to requirements.txt (#152)
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

fix: correct Containerfile symlink targets for Konflux clone check
  components/data_processing/automl/tabular_data_loader/Containerfile
  components/data_processing/autorag/documents_discovery/Containerfile
  components/data_processing/autorag/documents_indexing/Containerfile
  components/data_processing/autorag/test_data_loader/Containerfile
  components/data_processing/autorag/text_extraction/Containerfile
  components/training/automl/autogluon_leaderboard_evaluation/Containerfile
  components/training/automl/autogluon_models_training/Containerfile
  components/training/autorag/leaderboard_evaluation/Containerfile
  components/training/autorag/rag_templates_optimization/Containerfile
  components/training/autorag/search_space_preparation/Containerfile
Due: validate-readme

fix: correct Containerfile symlink targets for Konflux clone check (#154)
  components/data_processing/automl/tabular_data_loader/Containerfile
  components/data_processing/autorag/documents_discovery/Containerfile
  components/data_processing/autorag/documents_indexing/Containerfile
  components/data_processing/autorag/test_data_loader/Containerfile
  components/data_processing/autorag/text_extraction/Containerfile
  components/training/automl/autogluon_leaderboard_evaluation/Containerfile
  components/training/automl/autogluon_models_training/Containerfile
  components/training/autorag/leaderboard_evaluation/Containerfile
  components/training/autorag/rag_templates_optimization/Containerfile
  components/training/autorag/search_space_preparation/Containerfile
Due: validate-readme

build(automl, autorag): Update base images for AutoML and AUtoRAG pipelines to include the fix for CVE-2026-55971
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
Due: none

build(automl, autorag): Update base images for AutoML and AUtoRAG pipelines to include the fix for CVE-2026-55971 (#155)
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
Due: none

fix: remove redundant component Containerfile symlinks
  .github/workflows/container-build.yml
  components/data_processing/automl/tabular_data_loader/Containerfile
  components/data_processing/autorag/documents_discovery/Containerfile
  components/data_processing/autorag/documents_indexing/Containerfile
  components/data_processing/autorag/test_data_loader/Containerfile
  components/data_processing/autorag/text_extraction/Containerfile
  components/training/automl/autogluon_models_training/Containerfile
  components/training/autorag/rag_templates_optimization/Containerfile
  components/training/autorag/rag_templates_optimization/Dockerfile
  components/training/autorag/search_space_preparation/Containerfile
Due: yamllint, validate-readme

chore(pipelines): regenerate requirements.txt lockfiles for AutoML and AutoRAG pipelines
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

feat: add post-codefreeze-gatekeeper evaluation workflow
  .github/workflows/post-codefreeze-gatekeeper.yaml
Due: yamllint

fix: update gatekeeper workflow ref from @gatekeeper to @main
  .github/workflows/post-codefreeze-gatekeeper.yaml
Due: yamllint

fix: use pull_request_target in gatekeeper workflow
  .github/workflows/post-codefreeze-gatekeeper.yaml
Due: yamllint

feat: add gatekeeper workflow to main (pull_request_target)
  .github/workflows/post-codefreeze-gatekeeper.yaml
Due: yamllint

fix: use pull_request_target in gatekeeper workflow (#162)
  .github/workflows/post-codefreeze-gatekeeper.yaml
Due: yamllint

test tekton files before konflux central PR
  .tekton/odh-automl-v3-6-ea-1-pull.yaml
  .tekton/odh-autorag-v3-6-ea-1-pull.yaml
Due: yamllint

tmp: added new tekton pipeline to test before delivery
  .tekton/odh-pipelines-components-v3-6-ea-1-pull.yaml
Due: yamllint

chore(AutoRAG): Bringing back previous (3.5) index (#175)
  Dockerfile.konflux.autorag
  components/data_processing/autorag/documents_discovery/README.md
  components/data_processing/autorag/documents_discovery/metadata.yaml
  components/data_processing/autorag/documents_indexing/README.md
  components/data_processing/autorag/documents_indexing/metadata.yaml
  components/training/autorag/metadata.yaml
  components/training/autorag/rag_templates_optimization/README.md
  components/training/autorag/rag_templates_optimization/metadata.yaml
  components/training/autorag/search_space_preparation/README.md
  components/training/autorag/search_space_preparation/metadata.yaml
  pipelines/data_processing/autorag/documents_indexing_pipeline/README.md
  pipelines/data_processing/autorag/documents_indexing_pipeline/metadata.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/Containerfile
  pipelines/training/autorag/documents_rag_optimization_pipeline/README.md
  pipelines/training/autorag/documents_rag_optimization_pipeline/metadata.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.in
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
  pipelines/training/autorag/metadata.yaml
  pyproject.toml
  requirements.txt
  uv.lock
Due: yamllint, validate-readme, markdownlint

tests tekton changes
  .tekton/odh-automl-v3-6-ea-2-pull.yaml
  .tekton/odh-autorag-v3-6-ea-2-pull.yaml
  .tekton/odh-pipelines-components-v3-6-ea-2-pull.yaml
Due: yamllint

fix(evalhub): add GPU tolerations and nodeSelector to KServe InferenceService
  components/evaluation/evalhub/kserve/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme

fix(model-registry): add is_secure parameter for TLS connections
  components/deployment/kubeflow_model_registry/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

fix(lm-eval): add enforce_eager param and vLLM env var setup for non-CUDA images
  components/evaluation/lm_eval/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

build: Removed duplicated tekton files. (#183)
  .tekton/odh-automl-v3-6-ea-2-pull.yaml
  .tekton/odh-autorag-v3-6-ea-2-pull.yaml
  .tekton/odh-pipelines-components-v3-6-ea-2-pull.yaml
Due: yamllint

feat: add Dockerfile.konflux.autorag-inference for RHOAI onboarding
  Dockerfile.konflux.autorag-inference
Due: none

build(autorag): update BASE_IMAGE in AutoRAG konflux Dockerfile
  Dockerfile.konflux.autorag
Due: none
