Repository red-hat-data-services/pipelines-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
      - id: yamllint
        name: yamllint
        entry: uv run yamllint -c .yamllint.yml
        language: system
        types: [yaml]
      - id: import-guard
        name: import-guard
        entry: >
          uv run python .github/scripts/check_imports/check_imports.py
          --config .github/scripts/check_imports/import_exceptions.yaml
        language: system
        types: [python]
        files: ^(components|pipelines)/
      - id: validate-readme
        name: validate-readme
        entry: >
          bash -c '
          changed_dirs=$(echo "$@" | xargs -n1 dirname | grep -E "^(components|pipelines)/[^/]+/[^/]+$" | sort -u);
          if [ -n "$changed_dirs" ]; then
            ./.github/scripts/validate_readmes/test-readme-check.sh $changed_dirs || exit 1;
          fi
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/[^/]+/
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli@0.39.0 --fix -c .markdownlint.json
        language: system
        types: [markdown]
      - id: validate-metadata
        name: validate-metadata
        entry: >
          bash -c '
          changed_dirs=$(echo "$@" | xargs -n1 dirname | sort -u);
          for dir in $changed_dirs; do
            if [[ -f "$dir/metadata.yaml" && -f "$dir/OWNERS" ]]; then
              echo "Validating metadata for $dir";
              uv run python scripts/validate_metadata/validate_metadata.py --dir "$dir" || exit 1;
            fi;
          done
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/(metadata\.yaml|OWNERS)$
      - id: validate-base-images
        name: validate-base-images
        entry: >
          bash -c '
          components=();
          pipelines=();
          for file in "$@"; do
            if [[ "$file" =~ ^components/[^/]+/[^/]+/component\.py$ ]]; then
              dir=$(dirname "$file");
              components+=("--component" "$dir");
            elif [[ "$file" =~ ^pipelines/[^/]+/[^/]+/pipeline\.py$ ]]; then
              dir=$(dirname "$file");
              pipelines+=("--pipeline" "$dir");
            fi;
          done;
          if [[ ${#components[@]} -gt 0 || ${#pipelines[@]} -gt 0 ]]; then
            echo "Validating base images for changed components/pipelines";
            uv run python scripts/validate_base_images/validate_base_images.py \
              "${components[@]}" "${pipelines[@]}" || exit 1;
          fi
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/[^/]+/(component|pipeline)\.py$

move the completed to correct place
  components/data_processing/automl/timeseries_data_loader/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme

set metadata added
  components/data_processing/automl/tabular_data_loader/component.py
  components/data_processing/automl/timeseries_data_loader/component.py
  components/data_processing/autorag/documents_discovery/component.py
  components/data_processing/autorag/test_data_loader/component.py
  components/data_processing/autorag/text_extraction/component.py
  components/training/automl/autogluon_leaderboard_evaluation/component.py
  components/training/automl/autogluon_models_training/component.py
  components/training/automl/autogluon_timeseries_models_training/component.py
  components/training/autorag/leaderboard_evaluation/component.py
  components/training/autorag/rag_templates_optimization/component.py
  components/training/autorag/search_space_preparation/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme

remove deleted files from AutoRAG Konflux Containerfile
  Dockerfile.konflux.autorag
Due: none

fix: remove deleted files from AutoRAG Konflux Containerfile
  Dockerfile.konflux.autorag
Due: none

enable table layout in docling
  components/data_processing/autorag/text_extraction/README.md
  components/data_processing/autorag/text_extraction/component.py
  components/data_processing/autorag/text_extraction/metadata.yaml
  components/data_processing/autorag/text_extraction/tests/test_component_unit.py
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements-pypi.txt
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint

test: Move opencv-python-headless==4.13.0.92 to RH INdex dependencies
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements-pypi.txt
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

Update version of ogx-client
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

increase test coverage for autox components
  components/data_processing/autorag/documents_indexing/tests/test_component_unit.py
  components/data_processing/autorag/test_data_loader/tests/test_component_unit.py
  components/data_processing/autorag/text_extraction/tests/test_component_unit.py
  components/training/automl/autogluon_leaderboard_evaluation/tests/test_leaderboard_metric_sorting.py
  components/training/automl/autogluon_models_training/tests/test_component_unit.py
  components/training/automl/autogluon_timeseries_models_training/tests/test_component_unit.py
  components/training/autorag/leaderboard_evaluation/tests/test_component_unit.py
  components/training/autorag/rag_templates_optimization/tests/test_component_unit.py
  components/training/autorag/rag_templates_optimization/tests/test_pattern_artifacts.py
  components/training/autorag/search_space_preparation/tests/test_component_unit.py
  components/training/autorag/shared/tests/test_component_status.py
  pipelines/data_processing/autorag/documents_indexing_pipeline/pipeline.py
  pipelines/data_processing/autorag/documents_indexing_pipeline/tests/__init__.py
  pipelines/data_processing/autorag/documents_indexing_pipeline/tests/test_pipeline_unit.py
  pipelines/data_processing/ray_data/pdf_documents_processing_rag_pipeline/tests/test_pipeline_unit.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/test_pipeline_unit.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/test_configs.json
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/test_configs.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/test_pipeline_unit.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/test_timeseries_config_loader.py
  pipelines/training/autorag/documents_rag_optimization_pipeline/tests/test_pipeline_unit.py
  utils/pipeline_task_resources.py
  utils/tests/test_pipeline_resource_requirements.py
Due: ruff-format, ruff-check, import-guard, validate-readme

Konflux Internal p02 update odh-autorag-v3-5
  .tekton/odh-autorag-v3-5-pull-request.yaml
  .tekton/odh-autorag-v3-5-push.yaml
Due: yamllint

Konflux Internal p02 update odh-pipelines-components-v3-5
  .tekton/odh-pipelines-components-v3-5-pull-request.yaml
  .tekton/odh-pipelines-components-v3-5-push.yaml
Due: yamllint

bump the cryptography version in uv.lock
  uv.lock
Due: none

fixes for Mateusz' feedback part3
  components/training/automl/autogluon_leaderboard_evaluation/tests/conftest.py
  components/training/automl/autogluon_leaderboard_evaluation/tests/test_component_unit.py
  components/training/automl/autogluon_models_training/tests/conftest.py
  components/training/automl/autogluon_models_training/tests/test_component_unit.py
  components/training/automl/autogluon_timeseries_models_training/tests/conftest.py
  components/training/automl/autogluon_timeseries_models_training/tests/test_component_unit.py
  utils/pipeline_task_resources.py
Due: ruff-format, ruff-check, import-guard, validate-readme

PR checks pylint
  components/training/automl/autogluon_models_training/tests/test_component_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme

fix Dorota's feedback on dependency
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements-pypi.txt
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

correction after claude review
  components/training/automl/autogluon_models_training/component.py
  components/training/automl/autogluon_models_training/tests/test_component_unit.py
  components/training/automl/autogluon_timeseries_models_training/component.py
  components/training/automl/shared/leaderboard_utils.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/README.md
  pipelines/training/automl/autogluon_timeseries_training_pipeline/README.md
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint

fixes after rebase
  components/training/automl/shared/run_status_templates/pipelines/autogluon-tabular-training-pipeline.json
  components/training/automl/shared/run_status_templates/pipelines/autogluon-timeseries-training-pipeline.json
Due: validate-readme

fix pipelines tests
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/pipeline_resource_expectations.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/pipeline_resource_expectations.py
Due: ruff-format, ruff-check, import-guard, validate-readme

improve assertions
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/test_pipeline_unit.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/test_pipeline_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme

Restore status logging
  components/data_processing/autorag/documents_discovery/component.py
  components/data_processing/autorag/test_data_loader/component.py
  components/data_processing/autorag/text_extraction/component.py
  components/training/autorag/rag_templates_optimization/component.py
  components/training/autorag/search_space_preparation/component.py
  components/training/autorag/shared/component_status.py
  pyproject.toml
Due: ruff-format, ruff-check, import-guard, validate-readme

chore: Merge opendatahub-io/stable into main (#113)
  Makefile
  requirements-build.txt
  requirements.txt
Due: none

Update after code-rabbit review
  components/training/autorag/rag_templates_optimization/component.py
  components/training/autorag/search_space_preparation/component.py
  pipelines/training/autorag/documents_rag_optimization_pipeline/tests/test_pipeline_integration.py
Due: ruff-format, ruff-check, import-guard, validate-readme

remove compiled pipelines for autox pipelines definitions
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
  pipelines/training/automl/autogluon_timeseries_training_pipeline/pipeline.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
Due: yamllint, validate-readme

fix: Updated / added missing packages for ai4rag 0.8.1
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

feat: Switch to 3.5 RH Index
  pipelines/training/autorag/documents_rag_optimization_pipeline/Containerfile
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

feat: Switch to 3.5 RH Index
  Dockerfile.konflux.autorag
Due: none

chore(automl, autorag): Update RH Index to 3.5.0 in konflux Dockerfiles
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
Due: none

chore(automl, autorag): Update RH Index to 3.5.0 in konflux Dockerfiles (#127)
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
Due: none

chore(autorag, automl): update base image and remove redundant index URL
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
Due: none

chore(autorag): remove mentions for deleted requirements files
  Dockerfile.konflux.autorag
Due: none

chore(autorag): remove mentions for deleted requirements files (#128)
  Dockerfile.konflux.autorag
Due: none

Remove requirements-pypi from automl
  pipelines/training/automl/autogluon_tabular_training_pipeline/Containerfile
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements-pypi.txt
Due: validate-readme

Remove pypi requirements from automl konflux
  Dockerfile.konflux.automl
Due: none

chore: remove Red Hat index URLs from requirements files
  pipelines/training/automl/autogluon_tabular_training_pipeline/Containerfile
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
  pipelines/training/autorag/documents_rag_optimization_pipeline/Containerfile
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

fix: move Containerfile comments off RUN line continuations
  pipelines/training/automl/autogluon_tabular_training_pipeline/Containerfile
Due: validate-readme

chore(autorag): Update ai4rag to 0.9.1 and its dependencies
  components/data_processing/autorag/documents_discovery/README.md
  components/data_processing/autorag/documents_discovery/metadata.yaml
  components/data_processing/autorag/documents_indexing/README.md
  components/data_processing/autorag/documents_indexing/metadata.yaml
  components/training/autorag/metadata.yaml
  components/training/autorag/rag_templates_optimization/README.md
  components/training/autorag/rag_templates_optimization/metadata.yaml
  components/training/autorag/rag_templates_optimization/requirements.txt
  components/training/autorag/search_space_preparation/README.md
  components/training/autorag/search_space_preparation/component.py
  components/training/autorag/search_space_preparation/metadata.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint

tests(autorag): Updated component test to use save_json
  components/training/autorag/search_space_preparation/tests/test_component_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme
