Repository red-hat-data-services/pipelines-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

yamllint:
  name: yamllint
  entry: uv run yamllint -c .yamllint.yml
  language: system

import-guard:
  name: import-guard
  entry: 'uv run python .github/scripts/check_imports/check_imports.py --config .github/scripts/check_imports/import_exceptions.yaml
  
    '
  language: system

validate-readme:
  name: validate-readme
  entry: "bash -c ' changed_dirs=$(echo \"$@\" | xargs -n1 dirname | grep -E \"^(components|pipelines)/[^/]+/[^/]+$\" | sort -u); if [ -n \"$changed_dirs\" ]; then\n  ./.github/scripts/validate_readmes/test-readme-check.sh $changed_dirs || exit 1;\nfi ' --\n"
  language: system

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli@0.39.0 --fix -c .markdownlint.json
  language: system

validate-metadata:
  name: validate-metadata
  ...

validate-base-images:
  name: validate-base-images
  ...

fixes after rebase
  components/training/automl/autogluon_timeseries_models_training/component.py
  components/training/automl/autogluon_timeseries_models_training/tests/test_component_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme

minor improvement regarding comments in source code
  components/training/automl/autogluon_models_training/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme

tmp tests: Update the requirements as in midstream PR 123
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

fixup! fixed an issue resulting in inability to create an OGX client on self-managed clusters
  components/training/autorag/rag_templates_optimization/tests/test_component_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme

bring back deployment_model package and previous formatting
  pyproject.toml
Due: none

chore(automl): Return to pandas 2.2.3
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
Due: validate-readme

chore(automl): Update AutoML requerements for 3.5 EA2
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
Due: validate-readme

feat: update pipeline components to use latest universal image
  components/data_processing/dataset_download/component.py
  components/deployment/README.md
  components/deployment/kubeflow_model_registry/component.py
  components/evaluation/lm_eval/component.py
  components/training/finetuning/lora/component.py
  components/training/finetuning/osft/component.py
  components/training/finetuning/sft/component.py
  scripts/validate_base_images/base_image_allowlist.yaml
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-base-images

chore(automl, autorag): Update RH Index url in Dockerfile.konlux files.
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
Due: none

chore(automl, autorag): Update RH Index url in Dockerfile.konlux files. (#101)
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
Due: none

ruff fixes
  components/data_processing/autorag/text_extraction/component.py
  components/training/autorag/rag_templates_optimization/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme

code rabbit comments
  components/data_processing/autorag/documents_discovery/component.py
  components/data_processing/autorag/documents_discovery/tests/test_component_unit.py
  components/training/autorag/leaderboard_evaluation/component.py
  components/training/autorag/rag_templates_optimization/component.py
  components/training/autorag/search_space_preparation/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme

Restore notebook formatting
  components/training/autorag/shared/notebook_templates/ogx_inference_template.ipynb
Due: validate-readme

code rabbit comments 2
  components/training/autorag/component_stage_map_publisher/README.md
  components/training/autorag/shared/component_status.py
  components/training/autorag/shared/tests/test_run_status.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint

style: apply ruff formatting to component_status.py
  components/training/autorag/shared/component_status.py
Due: ruff-format, ruff-check, import-guard, validate-readme

Update requirements.txt
  requirements.txt
Due: none

fix(automl): use numpy 2.0.2 for s390x platform
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
Due: validate-readme

fix: pin kubernetes to <31 to match KFP 2.16.1 requirements
  pyproject.toml
  requirements.txt
Due: none

Revert "fix(automl): use numpy 2.0.2 for s390x platform"
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
Due: validate-readme

Update Dockerfile.konflux.pipelines-components
  Dockerfile.konflux.pipelines-components
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

plot backtesting charts in the notebook
  components/training/automl/autogluon_timeseries_models_training/README.md
  components/training/automl/autogluon_timeseries_models_training/component.py
  components/training/automl/shared/back_testing.py
  components/training/automl/shared/back_testing_charts.py
  components/training/automl/shared/notebook_templates/timeseries_notebook.ipynb
  components/training/automl/shared/tests/test_back_testing.py
  components/training/automl/shared/tests/test_back_testing_charts.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint

fix: protobuf<6.32 for s390x builds to pass
  Dockerfile.konflux.pipelines-components
  pyproject.toml
  requirements.txt
Due: none

combine backtesting summary and charts together
  components/training/automl/shared/back_testing_charts.py
  components/training/automl/shared/notebook_templates/timeseries_notebook.ipynb
  components/training/automl/shared/tests/test_back_testing_charts.py
Due: ruff-format, ruff-check, import-guard, validate-readme

pylint fix
  components/training/automl/shared/tests/test_back_testing_charts.py
Due: ruff-format, ruff-check, import-guard, validate-readme

Remove pypi-whl and pypi requirements
  components/training/autorag/rag_templates_optimization/requirements.txt
  pipelines/training/autorag/documents_rag_optimization_pipeline/Containerfile
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements-pypi-whl.txt
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements-pypi.txt
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

refactoring - alignment with automl
  components/data_processing/automl/tabular_data_loader/component.py
  components/data_processing/autorag/documents_discovery/component.py
  components/data_processing/autorag/test_data_loader/component.py
  components/data_processing/autorag/text_extraction/component.py
  components/training/automl/autogluon_models_training/component.py
  components/training/automl/autogluon_timeseries_models_training/README.md
  components/training/automl/autogluon_timeseries_models_training/component.py
  components/training/automl/shared/component_status.py
  components/training/automl/shared/run_status_templates/pipelines/autogluon-tabular-training-pipeline.json
  components/training/automl/shared/run_status_templates/pipelines/autogluon-timeseries-training-pipeline.json
  components/training/automl/shared/tests/test_component_status.py
  components/training/automl/shared/tests/test_run_status.py
  components/training/autorag/leaderboard_evaluation/component.py
  components/training/autorag/search_space_preparation/component.py
  components/training/autorag/shared/component_status.py
  components/training/autorag/shared/tests/test_component_status.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/README.md
  pipelines/training/automl/autogluon_timeseries_training_pipeline/pipeline.py
  pipelines/training/autorag/documents_rag_optimization_pipeline/README.md
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint

fix for timeseries prediction plot
  components/data_processing/automl/timeseries_data_loader/component.py
  components/data_processing/automl/timeseries_data_loader/tests/test_component_unit.py
  components/training/automl/autogluon_timeseries_models_training/component.py
  components/training/automl/shared/notebook_templates/timeseries_notebook.ipynb
  components/training/automl/shared/tests/test_timeseries_notebook_utils.py
  components/training/automl/shared/timeseries_notebook_utils.py
Due: ruff-format, ruff-check, import-guard, validate-readme

align the display name based on the Mateusz feedback
  components/data_processing/automl/tabular_data_loader/component.py
  components/data_processing/automl/timeseries_data_loader/component.py
  components/data_processing/autorag/documents_discovery/component.py
  components/data_processing/autorag/test_data_loader/component.py
  components/data_processing/autorag/text_extraction/component.py
  components/training/automl/autogluon_leaderboard_evaluation/component.py
  components/training/automl/autogluon_models_training/component.py
  components/training/automl/autogluon_timeseries_models_training/component.py
  components/training/autorag/leaderboard_evaluation/component.py
  components/training/autorag/rag_templates_optimization/component.py
  components/training/autorag/search_space_preparation/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme

refactor: make component_status required, remove None handling
  components/data_processing/autorag/documents_discovery/README.md
  components/data_processing/autorag/documents_discovery/component.py
  components/data_processing/autorag/test_data_loader/README.md
  components/data_processing/autorag/test_data_loader/component.py
  components/data_processing/autorag/text_extraction/component.py
  components/training/automl/shared/component_status.py
  components/training/automl/shared/tests/test_component_status.py
  components/training/autorag/leaderboard_evaluation/component.py
  components/training/autorag/rag_templates_optimization/README.md
  components/training/autorag/rag_templates_optimization/component.py
  components/training/autorag/search_space_preparation/component.py
  components/training/autorag/shared/component_status.py
  components/training/autorag/shared/tests/test_component_status.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint

ruff fix
  components/training/autorag/shared/tests/test_component_status.py
Due: ruff-format, ruff-check, import-guard, validate-readme

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  import-guard: any of: ^(components|pipelines)/ and \.py$
  validate-readme: any of: ^(components|pipelines)/[^/]+/[^/]+/
  markdownlint: any of: \.(md|markdown|mdown)$
  validate-metadata: any of: ^(components|pipelines)/[^/]+/(metadata\.yaml|OWNERS)$
  validate-base-images: any of: ^(components|pipelines)/[^/]+/[^/]+/(component|pipeline)\.py$
