Repository red-hat-data-services/pipelines-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
      - id: yamllint
        name: yamllint
        entry: uv run yamllint -c .yamllint.yml
        language: system
        types: [yaml]
      - id: import-guard
        name: import-guard
        entry: >
          uv run python .github/scripts/check_imports/check_imports.py
          --config .github/scripts/check_imports/import_exceptions.yaml
        language: system
        types: [python]
        files: ^(components|pipelines)/
      - id: validate-readme
        name: validate-readme
        entry: >
          bash -c '
          changed_dirs=$(echo "$@" | xargs -n1 dirname | grep -E "^(components|pipelines)/[^/]+/[^/]+$" | sort -u);
          if [ -n "$changed_dirs" ]; then
            ./.github/scripts/validate_readmes/test-readme-check.sh $changed_dirs || exit 1;
          fi
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/[^/]+/
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli@0.39.0 --fix -c .markdownlint.json
        language: system
        types: [markdown]
      - id: validate-metadata
        name: validate-metadata
        entry: >
          bash -c '
          changed_dirs=$(echo "$@" | xargs -n1 dirname | sort -u);
          for dir in $changed_dirs; do
            if [[ -f "$dir/metadata.yaml" && -f "$dir/OWNERS" ]]; then
              echo "Validating metadata for $dir";
              uv run python scripts/validate_metadata/validate_metadata.py --dir "$dir" || exit 1;
            fi;
          done
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/(metadata\.yaml|OWNERS)$
      - id: validate-base-images
        name: validate-base-images
        entry: >
          bash -c '
          components=();
          pipelines=();
          for file in "$@"; do
            if [[ "$file" =~ ^components/[^/]+/[^/]+/component\.py$ ]]; then
              dir=$(dirname "$file");
              components+=("--component" "$dir");
            elif [[ "$file" =~ ^pipelines/[^/]+/[^/]+/pipeline\.py$ ]]; then
              dir=$(dirname "$file");
              pipelines+=("--pipeline" "$dir");
            fi;
          done;
          if [[ ${#components[@]} -gt 0 || ${#pipelines[@]} -gt 0 ]]; then
            echo "Validating base images for changed components/pipelines";
            uv run python scripts/validate_base_images/validate_base_images.py \
              "${components[@]}" "${pipelines[@]}" || exit 1;
          fi
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/[^/]+/(component|pipeline)\.py$

move tmp changes to run integration tests in disconnected env
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/.env.template
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/conftest.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/integration_config.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/.env.template
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/conftest.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/integration_config.py
Due: ruff-format, ruff-check, import-guard, validate-readme

fix after coderabbit review
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/conftest.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/conftest.py
Due: ruff-format, ruff-check, import-guard, validate-readme

fix automl prefetch issue
  .tekton/odh-automl-pull-request.yaml
  .tekton/odh-automl-v3-5-ea-1-push.yaml
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements-extra.txt
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
Due: yamllint, validate-readme

removed pipelineruns from midstream
  .tekton/odh-automl-ci-on-push.yaml
  .tekton/odh-automl-ci-pull-request.yaml
  .tekton/odh-autorag-ci-on-push.yaml
  .tekton/odh-pipelines-components-ci-on-pull-request.yaml
  .tekton/odh-pipelines-components-ci-on-push.yaml
Due: yamllint

test changes through pull-request pipelinerun
  .tekton/odh-automl-pull-request-v3-5-ea-1.yaml
Due: yamllint

adding version value
  .tekton/odh-automl-pull-request-v3-5-ea-1.yaml
Due: yamllint

fix: retry AutoRAG artifact lookup via external MinIO route
  pipelines/training/autorag/documents_rag_optimization_pipeline/tests/test_pipeline_integration.py
Due: ruff-format, ruff-check, import-guard, validate-readme

fix prefetch
  .tekton/odh-automl-pull-request.yaml
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements-extra.txt
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
Due: yamllint, validate-readme

remove ci pipelinerun files
  .tekton/odh-automl-ci-on-push.yaml
  .tekton/odh-automl-ci-pull-request.yaml
  .tekton/odh-autorag-ci-on-push.yaml
  .tekton/odh-autorag-ci-pull-request.yaml
  .tekton/odh-pipelines-components-ci-on-pull-request.yaml
  .tekton/odh-pipelines-components-ci-on-push.yaml
Due: yamllint

Test updated requirements
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
Due: validate-readme

implementing suggestions in https://redhat.atlassian.net/browse/RHOAIENG-59984
  .github/workflows/sync-requirements.yml
  .tekton/odh-pipelines-components-v3-4-pull-request.yaml
  Dockerfile.konflux.pipelines-components
  requirements-build.txt
  requirements.txt
Due: yamllint

adding hashes to requirements.txt file
  .github/workflows/sync-requirements.yml
  .tekton/odh-pipelines-components-v3-4-pull-request.yaml
  requirements.txt
Due: yamllint

chore(automl): Updated compiled pipelines with 3.5 EA1 changes.
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
  pipelines/training/automl/autogluon_timeseries_training_pipeline/pipeline.yaml
Due: yamllint, validate-readme

chore(automl): Updated compiled pipelines with 3.5 EA1 changes. (#46)
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
  pipelines/training/automl/autogluon_timeseries_training_pipeline/pipeline.yaml
Due: yamllint, validate-readme

recompiled autorag pipeline so that recent bug fixes are included
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
Due: yamllint, validate-readme

recompiled autorag pipeline once again to include even newest changes
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
Due: yamllint, validate-readme

(chore): recompiled autorag pipeline so that recent bug fixes are included (#41)
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
Due: yamllint, validate-readme

test: Use from from RH Staging registry
  pipelines/training/autorag/documents_rag_optimization_pipeline/Containerfile
  pipelines/training/autorag/documents_rag_optimization_pipeline/artifacts.lock.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/seed_docling_models.py
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme

fix(autorag): address review feedback on PR #71
  pipelines/training/autorag/documents_rag_optimization_pipeline/tests/.env.example
  pipelines/training/autorag/documents_rag_optimization_pipeline/tests/test_pipeline_integration.py
Due: ruff-format, ruff-check, import-guard, validate-readme

Update Dockerfile.konflux.autorag
  Dockerfile.konflux.autorag
Due: none

chore(autorag): Updated pipeline.yaml for AutoRAG
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
Due: yamllint, validate-readme

implement pr suggestions
  .github/workflows/sync-requirements.yml
  .pre-commit-config.yaml
  .tekton/odh-pipelines-components-ci-on-pull-request.yaml
  .tekton/odh-pipelines-components-ci-on-push.yaml
  Dockerfile.konflux.pipelines-components
  Makefile
  requirements-build.txt
  requirements.txt
Due: yamllint

remove pull request pipeline of odh-pipelines-components
  .tekton/odh-pipelines-components-pull-request.yaml
Due: yamllint

test
  .tekton/odh-pipelines-components-pull-request.yaml
Due: yamllint

Merge pull request #68 from nsingla/RHOAIENG-59984-odh
  .github/workflows/sync-requirements.yml
  .pre-commit-config.yaml
  Dockerfile.konflux.pipelines-components
  Makefile
  requirements-build.txt
  requirements.txt
Due: yamllint

chore: Bump `kfp` and `kfp-kubernetes` to version 2.16.1 in requirements.txt
  requirements.txt
Due: none

Konflux Internal p02 update odh-autorag-v3-5-ea-2
  .tekton/odh-autorag-v3-5-ea-2-pull-request.yaml
  .tekton/odh-autorag-v3-5-ea-2-push.yaml
Due: yamllint

Konflux Internal p02 update odh-pipelines-components-v3-5-ea-2
  .tekton/odh-pipelines-components-v3-5-ea-2-pull-request.yaml
  .tekton/odh-pipelines-components-v3-5-ea-2-push.yaml
Due: yamllint

Add workflow to refresh pipelines yaml
  .github/workflows/refresh-managed-pipelines-rhoai.yaml
  docs/rhoai-release-pipeline-yaml-refresh.md
Due: yamllint, markdownlint

docs: Add guidelines for requesting managed pipeline runtime images
  README.md
  docs/CONTRIBUTING.md
Due: markdownlint

Fix problem with ignore-paths
  .github/workflows/refresh-managed-pipelines-rhoai.yaml
  docs/rhoai-release-pipeline-yaml-refresh.md
Due: yamllint, markdownlint

Use OCI artifacts
  .gitignore
  pipelines/training/autorag/documents_rag_optimization_pipeline/Containerfile
  pipelines/training/autorag/documents_rag_optimization_pipeline/artifacts.lock.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/seed_docling_models.py
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme

Use OCI artifacts 2
  .tekton/odh-autorag-ci-on-push.yaml
  .tekton/odh-autorag-ci-pull-request.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/Containerfile
Due: yamllint, validate-readme

Add refresh pipeline files
  .github/workflows/refresh-managed-pipelines-rhoai.yaml
  docs/rhoai-release-pipeline-yaml-refresh.md
Due: yamllint, markdownlint

Use OCI artifacts 2
  Dockerfile.konflux.autorag
  pipelines/training/autorag/documents_rag_optimization_pipeline/Containerfile
Due: validate-readme

Use OCI artifacts 3
  .tekton/odh-autorag-ci-on-push.yaml
  .tekton/odh-autorag-ci-pull-request.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/Containerfile
  pipelines/training/autorag/documents_rag_optimization_pipeline/artifacts.lock.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/seed_docling_models.py
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme

docs: Update CONTRIBUTING.md with additional details on managed pipeline runtime images
  docs/CONTRIBUTING.md
Due: markdownlint

docs: Update DSPO changes in managed pipelines
  docs/CONTRIBUTING.md
Due: markdownlint
