Repository red-hat-data-services/pipelines-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
      - id: yamllint
        name: yamllint
        entry: uv run yamllint -c .yamllint.yml
        language: system
        types: [yaml]
      - id: import-guard
        name: import-guard
        entry: >
          uv run python .github/scripts/check_imports/check_imports.py
          --config .github/scripts/check_imports/import_exceptions.yaml
        language: system
        types: [python]
        files: ^(components|pipelines)/
      - id: validate-readme
        name: validate-readme
        entry: >
          bash -c '
          changed_dirs=$(echo "$@" | xargs -n1 dirname | grep -E "^(components|pipelines)/[^/]+/[^/]+$" | sort -u);
          if [ -n "$changed_dirs" ]; then
            ./.github/scripts/validate_readmes/test-readme-check.sh $changed_dirs || exit 1;
          fi
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/[^/]+/
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli@0.39.0 --fix -c .markdownlint.json
        language: system
        types: [markdown]
      - id: validate-metadata
        name: validate-metadata
        entry: >
          bash -c '
          changed_dirs=$(echo "$@" | xargs -n1 dirname | sort -u);
          for dir in $changed_dirs; do
            if [[ -f "$dir/metadata.yaml" && -f "$dir/OWNERS" ]]; then
              echo "Validating metadata for $dir";
              uv run python scripts/validate_metadata/validate_metadata.py --dir "$dir" || exit 1;
            fi;
          done
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/(metadata\.yaml|OWNERS)$
      - id: validate-base-images
        name: validate-base-images
        entry: >
          bash -c '
          components=();
          pipelines=();
          for file in "$@"; do
            if [[ "$file" =~ ^components/[^/]+/[^/]+/component\.py$ ]]; then
              dir=$(dirname "$file");
              components+=("--component" "$dir");
            elif [[ "$file" =~ ^pipelines/[^/]+/[^/]+/pipeline\.py$ ]]; then
              dir=$(dirname "$file");
              pipelines+=("--pipeline" "$dir");
            fi;
          done;
          if [[ ${#components[@]} -gt 0 || ${#pipelines[@]} -gt 0 ]]; then
            echo "Validating base images for changed components/pipelines";
            uv run python scripts/validate_base_images/validate_base_images.py \
              "${components[@]}" "${pipelines[@]}" || exit 1;
          fi
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/[^/]+/(component|pipeline)\.py$

chore: regenerate READMEs for readme-check CI (RHOAIENG-48199)
  components/deployment/kubeflow_model_registry/README.md
  components/evaluation/lm_eval/README.md
  components/training/finetuning/README.md
  pipelines/training/osft/README.md
  pipelines/training/osft_minimal/README.md
  pipelines/training/sft/README.md
  pipelines/training/sft_minimal/README.md
Due: validate-readme, markdownlint

chore: Add OWNERS file to test_data directory (#72)
  test_data/OWNERS
Due: none

docs: Improve formatting in `Default behavior details` section of README.md
  .github/actions/detect-changed-assets/README.md
Due: markdownlint

docs: Add YAML front matter to `detect-changed-assets` action definition
  .github/actions/detect-changed-assets/action.yml
Due: yamllint

Revert "chore(deps): Bump ruff from 0.14.12 to 0.15.1 (#98)"
  pyproject.toml
  uv.lock
Due: none

Revert "chore(deps): Bump packaging from 25.0 to 26.0 (#85)"
  uv.lock
Due: none

Revert "chore(deps): Bump urllib3 from 2.6.2 to 2.6.3 (#79)"
  uv.lock
Due: none

Revert "chore(deps): Bump scikit-learn from 1.4.0 to 1.5.0 in /docs/examples (#84)"
  docs/examples/requirements.txt
Due: none

Revert "chore(deps): Bump ruff from 0.14.11 to 0.14.12 (#73)"
  pyproject.toml
  uv.lock
Due: none

Revert "chore: Add OWNERS file to test_data directory (#72)"
  test_data/OWNERS
Due: none

Revert "fix: Normalize paths against repo root in validation logic and update related tests"
  scripts/validate_components/tests/test_validate_components.py
  scripts/validate_components/validate_components.py
Due: ruff-format, ruff-check

Revert "chore(deps): Bump pip from 25.3 to 26.0 (#89)"
  uv.lock
Due: none

Revert "chore: Wrap long paragraphs in readme-generator script (#48)"
  components/data_processing/yoda_data_processor/README.md
  scripts/generate_readme/category_index_generator.py
  scripts/generate_readme/constants.py
  scripts/generate_readme/content_generator.py
  test_data/components/advanced/README.md
  test_data/components/advanced/multiline_overview/README.md
  test_data/components/advanced/multiline_overview/component.py
  test_data/pipelines/basic/simple_pipeline/README.md
Due: ruff-format, ruff-check, validate-readme, markdownlint

Revert "Update docs/CONTRIBUTING.md"
  docs/CONTRIBUTING.md
Due: markdownlint

Revert "Update .github/actions/detect-changed-assets/README.md"
  .github/actions/detect-changed-assets/README.md
Due: markdownlint

Revert "Potential fix for code scanning alert no. 10: Workflow does not contain permissions"
  .github/workflows/container-build.yml
Due: yamllint

Revert "chore(deps): Bump actions/download-artifact from 7 to 8 (#105)"
  .github/workflows/container-build.yml
Due: yamllint

Revert "fix: avoid ReDoS in sync_packages regex (CodeQL py/redos)"
  scripts/sync_packages/sync_packages.py
Due: ruff-format, ruff-check

Revert "fix(readme-gen): Add quotes to params with empty string defaults (#74)"
  scripts/generate_readme/content_generator.py
  test_data/components/basic/optional_params/README.md
  test_data/components/basic/optional_params/component.py
Due: ruff-format, ruff-check, markdownlint

Revert "chore(deps): Bump protobuf from 6.33.2 to 6.33.5 (#90)"
  uv.lock
Due: none

fix: make some fixes
  components/training/lora/README.md
  components/training/lora/component.py
  components/training/lora/metadata.yaml
  components/training/osft/README.md
  components/training/osft/component.py
  components/training/sft/README.md
  components/training/sft/component.py
  components/training/shared/ADDING_COMPONENTS.md
  pipelines/training/lora/README.md
  pipelines/training/lora_minimal/README.md
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-base-images

fix: add blank line as required by linting rules
  scripts/generate_readme/templates/CATEGORY_README.md.j2
Due: none

fix: remove testing url
  components/training/finetuning_algorithms/lora/component.py
  components/training/finetuning_algorithms/osft/component.py
  components/training/finetuning_algorithms/sft/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme

Adding initial Dockerfiles for AutoML and AutoRAG
  pipelines/training/automl/Containerfile
  pipelines/training/autorag/Containerfile
Due: validate-readme

Add required files for checks + fix structure
  pipelines/training/automl/OWNERS
  pipelines/training/automl/README.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/Containerfile
  pipelines/training/automl/autogluon_tabular_training_pipeline/OWNERS
  pipelines/training/automl/autogluon_tabular_training_pipeline/README.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/__init__.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/metadata.yaml
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.py
  pipelines/training/autorag/OWNERS
  pipelines/training/autorag/README.md
  pipelines/training/autorag/documents_rag_optimization_pipeline/Containerfile
  pipelines/training/autorag/documents_rag_optimization_pipeline/OWNERS
  pipelines/training/autorag/documents_rag_optimization_pipeline/README.md
  pipelines/training/autorag/documents_rag_optimization_pipeline/__init__.py
  pipelines/training/autorag/documents_rag_optimization_pipeline/metadata.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.py
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint

Fix metadata and OWNERS for checks
  pipelines/training/automl/OWNERS
  pipelines/training/automl/autogluon_tabular_training_pipeline/metadata.yaml
  pipelines/training/autorag/OWNERS
  pipelines/training/autorag/documents_rag_optimization_pipeline/metadata.yaml
Due: yamllint, validate-readme

Fix READMEs
  pipelines/training/automl/README.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/README.md
  pipelines/training/autorag/README.md
  pipelines/training/autorag/documents_rag_optimization_pipeline/README.md
Due: validate-readme, markdownlint

Adding initial Dockerfiles for AutoML
  components/data_processing/automl/tabular_data_loader/Containerfile
  components/data_processing/automl/tabular_train_test_split/Containerfile
  components/training/automl/autogluon_leaderboard_evaluation/Containerfile
  components/training/automl/autogluon_models_full_refit/Containerfile
  components/training/automl/autogluon_models_selection/Containerfile
  pipelines/training/automl/autogluon_tabular_training_pipeline/Containerfile
  scripts/validate_base_images/base_image_allowlist.yaml
Due: yamllint, validate-readme
