Repository red-hat-data-services/pipelines-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

yamllint:
  name: yamllint
  entry: uv run yamllint -c .yamllint.yml
  language: system

import-guard:
  name: import-guard
  entry: 'uv run python .github/scripts/check_imports/check_imports.py --config .github/scripts/check_imports/import_exceptions.yaml
  
    '
  language: system

validate-readme:
  name: validate-readme
  entry: "bash -c ' changed_dirs=$(echo \"$@\" | xargs -n1 dirname | grep -E \"^(components|pipelines)/[^/]+/[^/]+$\" | sort -u); if [ -n \"$changed_dirs\" ]; then\n  ./.github/scripts/validate_readmes/test-readme-check.sh $changed_dirs || exit 1;\nfi ' --\n"
  language: system

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli@0.39.0 --fix -c .markdownlint.json
  language: system

validate-metadata:
  name: validate-metadata
  ...

validate-base-images:
  name: validate-base-images
  ...

chore(automl): Update autogluon to 1.5.0+rhaiv.4 and refresh related dependencies.
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
Due: validate-readme

chore(automl): Update autogluon to 1.5.0+rhaiv.4 in notebook templates
  components/training/automl/shared/notebook_templates/classification_notebook.ipynb
  components/training/automl/shared/notebook_templates/regression_notebook.ipynb
  components/training/automl/shared/notebook_templates/timeseries_notebook.ipynb
Due: validate-readme

pip pip version in automl konflux conatinerfile
  Dockerfile.konflux.automl
Due: none

updated pip version used in AutoRAG container due to CVE-2026-8643
  pipelines/training/autorag/documents_rag_optimization_pipeline/Containerfile
Due: validate-readme

introduced `preset` parameter for AutoRAG pipeline and related components; related tests changes
  components/data_processing/autorag/text_extraction/README.md
  components/data_processing/autorag/text_extraction/component.py
  components/data_processing/autorag/text_extraction/tests/test_component_unit.py
  components/training/autorag/rag_templates_optimization/README.md
  components/training/autorag/rag_templates_optimization/component.py
  components/training/autorag/rag_templates_optimization/tests/test_component_unit.py
  components/training/autorag/search_space_preparation/README.md
  components/training/autorag/search_space_preparation/component.py
  components/training/autorag/search_space_preparation/tests/test_component_unit.py
  pipelines/training/autorag/documents_rag_optimization_pipeline/README.md
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.py
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
  pipelines/training/autorag/documents_rag_optimization_pipeline/tests/pipeline_resource_expectations.py
  pipelines/training/autorag/documents_rag_optimization_pipeline/tests/test_pipeline_resource_requirements.py
  pipelines/training/autorag/documents_rag_optimization_pipeline/tests/test_pipeline_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint

chore: update AIPCC base images to latest version
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
Due: none

chore: update AIPCC base images to latest version (#134)
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
Due: none

fix: upgrade pip to fix CVE-2026-8643
  Dockerfile.konflux.automl
  pipelines/training/automl/autogluon_tabular_training_pipeline/Containerfile
Due: validate-readme

fixup! updated pip version used in AutoRAG container due to CVE-2026-8643
  Dockerfile.konflux.autorag
Due: none

chore: Updated base images for AutoML and AutoRAG to use recent AIPCC base images.
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
Due: none

chore: Updated base images for AutoML and AutoRAG to use recent AIPCC base images. (#137)
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
Due: none

chore(automl): Update Pillow to 12.2.0 to mitigate CVE-2026-42311
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
Due: validate-readme

Change automation
  .tekton/odh-automl-pull-request.yaml
Due: yamllint

Build on pull request based on the odh-automl-v3-4-push.yaml
  .tekton/odh-automl-v3.4-pull-request.yaml
Due: yamllint

Update the name to inclue v.34
  .tekton/odh-automl-ci-pull-request.yaml
  .tekton/odh-automl-v3.4-on-pull-request.yaml
  .tekton/odh-autorag-ci-pull-request.yaml
Due: yamllint

Try to switch to non-hermetic build to enable any dev builds on PR
  .tekton/odh-automl-v3.4-on-pull-request.yaml
Due: yamllint

Update odh-automl-v3.4-on-pull-request.yaml
  .tekton/odh-automl-v3.4-on-pull-request.yaml
Due: yamllint

Update odh-autorag-on-pull-request.yaml
  .tekton/odh-autorag-on-pull-request.yaml
Due: yamllint

fix: bump starlette to 1.2.0 to fix CVE-2026-48710
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
Due: validate-readme

build(deps): update ai4rag==0.5.6, docling==2.94.0 and pillow==12.3.0
  components/training/autorag/rag_templates_optimization/notebook_templates/ls_indexing_template.ipynb
  components/training/autorag/rag_templates_optimization/notebook_templates/ls_inference_template.ipynb
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements-pypi-whl.txt
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

build(deps): update langchain-core==1.4.6
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

feat(scripts): add pipeline requirements refresh script for AutoML and AutoRAG
  AGENTS.md
  Makefile
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.in
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.in
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
  scripts/refresh_pipeline_requirements/README.md
  scripts/refresh_pipeline_requirements/__init__.py
  scripts/refresh_pipeline_requirements/refresh_pipeline_requirements.py
  scripts/refresh_pipeline_requirements/tests/__init__.py
  scripts/refresh_pipeline_requirements/tests/test_refresh_pipeline_requirements.py
Due: ruff-format, ruff-check, validate-readme, markdownlint

build(deps): update chromadb==1.5.9
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

chore(autorag): Added missing trailing newline.
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.in
Due: validate-readme

fix(autorag): Include pysqlite3 in requirements.in for AutoRAG training pipeline
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.in
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

build(deps): downgrade chroma to 1.5.5
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

fix(build): pin pip>=26.1.2 for CVE-2026-8643
  Makefile
  requirements-build.txt
  requirements.txt
Due: none

fix(build): pin pip>=26.1.2 for CVE-2026-8643
  Makefile
  requirements-build.txt
Due: none

Revert "Merge pull request #136 from Mateusz-Switala/fix-bump-starlette-version-to-fix-CVE-2026-48710-in-automl-image"
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
Due: validate-readme

Merge branch 'odh_main' into redhat_main
  .tekton/odh-automl-v3-4-on-pull-request.yaml
Due: yamllint

feat(autorag): default optimization metric to overall_score
  components/training/autorag/rag_templates_optimization/metadata.yaml
  components/training/autorag/search_space_preparation/metadata.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/README.md
  pipelines/training/autorag/documents_rag_optimization_pipeline/metadata.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.py
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint

chore(autorag): clean up after ai4rag 0.10.0 upgrade
  components/training/autorag/rag_templates_optimization/README.md
  components/training/autorag/search_space_preparation/README.md
  components/training/autorag/search_space_preparation/tests/test_component_unit.py
  pipelines/training/autorag/documents_rag_optimization_pipeline/README.md
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint

build(deps): update pydantic-settings
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

build(deps): update docling-ibm-models and docling-parse
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

feat(scripts): pin UBI9 platform and install pip-tools from PyPI
  Makefile
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
  scripts/refresh_pipeline_requirements/README.md
  scripts/refresh_pipeline_requirements/refresh_pipeline_requirements.py
  scripts/refresh_pipeline_requirements/tests/test_refresh_pipeline_requirements.py
Due: ruff-format, ruff-check, validate-readme, markdownlint

chore(automl): Update Pillow to 12.3.0 to mitigate CVE
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
Due: validate-readme

chore(automl): Update Pillow to 12.3.0 to mitigate CVE (#140)
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
Due: validate-readme

chore(automl, autorag): Regenerated requirements.txt files for AutoML and AutoRA training pipelines
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

Regenerate AutoRAG pipeline
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
Due: yamllint, validate-readme

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  import-guard: any of: ^(components|pipelines)/ and \.py$
  validate-readme: any of: ^(components|pipelines)/[^/]+/[^/]+/
  markdownlint: any of: \.(md|markdown|mdown)$
  validate-metadata: any of: ^(components|pipelines)/[^/]+/(metadata\.yaml|OWNERS)$
  validate-base-images: any of: ^(components|pipelines)/[^/]+/[^/]+/(component|pipeline)\.py$
