Repository red-hat-data-services/pipelines-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
      - id: yamllint
        name: yamllint
        entry: uv run yamllint -c .yamllint.yml
        language: system
        types: [yaml]
      - id: import-guard
        name: import-guard
        entry: >
          uv run python .github/scripts/check_imports/check_imports.py
          --config .github/scripts/check_imports/import_exceptions.yaml
        language: system
        types: [python]
        files: ^(components|pipelines)/
      - id: validate-readme
        name: validate-readme
        entry: >
          bash -c '
          changed_dirs=$(echo "$@" | xargs -n1 dirname | grep -E "^(components|pipelines)/[^/]+/[^/]+$" | sort -u);
          if [ -n "$changed_dirs" ]; then
            ./.github/scripts/validate_readmes/test-readme-check.sh $changed_dirs || exit 1;
          fi
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/[^/]+/
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli@0.39.0 --fix -c .markdownlint.json
        language: system
        types: [markdown]
      - id: validate-metadata
        name: validate-metadata
        entry: >
          bash -c '
          changed_dirs=$(echo "$@" | xargs -n1 dirname | sort -u);
          for dir in $changed_dirs; do
            if [[ -f "$dir/metadata.yaml" && -f "$dir/OWNERS" ]]; then
              echo "Validating metadata for $dir";
              uv run python scripts/validate_metadata/validate_metadata.py --dir "$dir" || exit 1;
            fi;
          done
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/(metadata\.yaml|OWNERS)$
      - id: validate-base-images
        name: validate-base-images
        entry: >
          bash -c '
          components=();
          pipelines=();
          for file in "$@"; do
            if [[ "$file" =~ ^components/[^/]+/[^/]+/component\.py$ ]]; then
              dir=$(dirname "$file");
              components+=("--component" "$dir");
            elif [[ "$file" =~ ^pipelines/[^/]+/[^/]+/pipeline\.py$ ]]; then
              dir=$(dirname "$file");
              pipelines+=("--pipeline" "$dir");
            fi;
          done;
          if [[ ${#components[@]} -gt 0 || ${#pipelines[@]} -gt 0 ]]; then
            echo "Validating base images for changed components/pipelines";
            uv run python scripts/validate_base_images/validate_base_images.py \
              "${components[@]}" "${pipelines[@]}" || exit 1;
          fi
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/[^/]+/(component|pipeline)\.py$

chore: ensuring single node for LoRA
  components/training/finetuning_algorithms/lora/README.md
  components/training/finetuning_algorithms/lora/component.py
  pipelines/training/finetuning/lora/README.md
  pipelines/training/finetuning/lora/pipeline.py
  pipelines/training/finetuning/lora_minimal/README.md
  pipelines/training/finetuning/lora_minimal/pipeline.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint

fix: update lora params for component and pipelines
  components/training/finetuning_algorithms/lora/README.md
  components/training/finetuning_algorithms/lora/component.py
  pipelines/training/finetuning/lora/README.md
  pipelines/training/finetuning/lora/pipeline.py
  pipelines/training/finetuning/lora_minimal/README.md
  pipelines/training/finetuning/lora_minimal/pipeline.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint

chore: Split out shared funcs
  components/training/finetuning_algorithms/osft/component.py
  components/training/finetuning_algorithms/shared/__init__.py
  components/training/finetuning_algorithms/shared/data.py
  components/training/finetuning_algorithms/shared/finetuning_utils.py
  components/training/finetuning_algorithms/shared/output.py
  components/training/finetuning_algorithms/shared/setup.py
  components/training/finetuning_algorithms/shared/training.py
Due: ruff-format, ruff-check, import-guard, validate-readme

rerun readme generator scripts
  components/data_processing/autorag/documents_discovery/README.md
  components/data_processing/autorag/documents_indexing/README.md
  components/training/autorag/rag_templates_optimization/README.md
Due: validate-readme, markdownlint

fix: make some fixes
  components/training/lora/README.md
  components/training/lora/component.py
  components/training/lora/metadata.yaml
  components/training/osft/README.md
  components/training/osft/component.py
  components/training/sft/README.md
  components/training/sft/component.py
  components/training/shared/ADDING_COMPONENTS.md
  pipelines/training/lora/README.md
  pipelines/training/lora_minimal/README.md
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-base-images

add pull konflux request
  .tekton/odh-automl-pull-request.yaml
Due: yamllint

update dockerfile value
  .tekton/odh-automl-pull-request.yaml
Due: yamllint

fix: move utility method outside of dataclass
  scripts/generate_managed_pipelines/generate_managed_pipelines.py
  scripts/generate_managed_pipelines/tests/test_generate_managed_pipelines.py
Due: ruff-format, ruff-check

update sample row reading to json
  components/training/automl/autogluon_models_full_refit/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme

fix pre-commit checks
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/README_integration.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/conftest.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/integration_config.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/test_configs.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/test_pipeline_integration.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint

remove unused artifact autorag_run_artifact (#88)
  components/training/autorag/rag_templates_optimization/README.md
  components/training/autorag/rag_templates_optimization/component.py
  components/training/autorag/rag_templates_optimization/tests/test_component_local.py
  components/training/autorag/rag_templates_optimization/tests/test_component_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint

fix: automl optimise method of saving models files (#87)
  components/training/automl/autogluon_models_full_refit/README.md
  components/training/automl/autogluon_models_full_refit/component.py
  components/training/automl/autogluon_models_full_refit/metadata.yaml
  components/training/automl/autogluon_models_full_refit/tests/test_component_unit.py
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint

tests: Added integration tests for AutoGluon Time Series pipeline (#92)
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/.env.template
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/README_integration.md
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/conftest.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/data/timeseries_sales.csv
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/integration_config.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/test_configs.json
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/test_configs.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/test_pipeline_integration.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint

AutoRAG: generate responses requests (#91)
  components/data_processing/autorag/text_extraction/component.py
  components/data_processing/autorag/text_extraction/tests/test_component_unit.py
  components/deployment/README.md
  components/deployment/autorag/OWNERS
  components/deployment/autorag/README.md
  components/deployment/autorag/__init__.py
  components/deployment/autorag/build_responses_request_bodies/OWNERS
  components/deployment/autorag/build_responses_request_bodies/README.md
  components/deployment/autorag/build_responses_request_bodies/__init__.py
  components/deployment/autorag/build_responses_request_bodies/component.py
  components/deployment/autorag/build_responses_request_bodies/metadata.yaml
  components/deployment/autorag/build_responses_request_bodies/tests/__init__.py
  components/deployment/autorag/build_responses_request_bodies/tests/openai_responses_request_validate.py
  components/deployment/autorag/build_responses_request_bodies/tests/test_component_unit.py
  components/deployment/autorag/build_responses_request_bodies/tests/test_openai_responses_api_compliance.py
  pipelines/training/autorag/README.md
  pipelines/training/autorag/documents_rag_optimization_pipeline/README.md
  pipelines/training/autorag/documents_rag_optimization_pipeline/metadata.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.py
  pipelines/training/autorag/documents_rag_optimization_pipeline/tests/.env.example
  pipelines/training/autorag/documents_rag_optimization_pipeline/tests/README.md
  pipelines/training/autorag/documents_rag_optimization_pipeline/tests/test_pipeline_integration.py
  pipelines/training/autorag/documents_rag_optimization_pipeline/tests/test_pipeline_unit.py
  pyproject.toml
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint

modify imports in text_extraction/test_component_unit
  components/data_processing/autorag/text_extraction/tests/test_component_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme

fix: Address review comments #2
  scripts/generate_managed_pipelines/tests/test_generate_managed_pipelines.py
Due: ruff-format, ruff-check

Ignore .tekton/ for YAML linting
  .yamllint.yml
Due: yamllint

fix: missing utils (#94)
  pyproject.toml
  scripts/validate_package_entries/tests/test_validate_package_entries.py
  scripts/validate_package_entries/validate_package_entries.py
  utils/__init__.py
Due: ruff-format, ruff-check

Bugfix - text extraction component models download (#89)
  .tekton/odh-autorag-on-pull-request.yaml
  Dockerfile.konflux.autorag
  components/data_processing/autorag/text_extraction/component.py
  components/data_processing/autorag/text_extraction/tests/test_component_unit.py
  pipelines/training/autorag/documents_rag_optimization_pipeline/Containerfile
  pipelines/training/autorag/documents_rag_optimization_pipeline/artifacts.lock.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/seed_docling_models.py
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme

feat: Add initialization scripts and pipeline definitions for managed pipelines
  Dockerfile
  components/deployment/README.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/README.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/metadata.yaml
  pipelines/training/autorag/README.md
  pipelines/training/autorag/documents_rag_optimization_pipeline/README.md
  pipelines/training/autorag/documents_rag_optimization_pipeline/metadata.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
  scripts/generate_readme/category_index_generator.py
  scripts/generate_readme/writer.py
  scripts/init_managed_pipelines/__init__.py
  scripts/init_managed_pipelines/init_managed_pipelines.py
Due: ruff-format, ruff-check, yamllint, validate-readme, markdownlint

fix: fix docling models + sqlite installation (#103)
  Dockerfile.konflux.autorag
  pipelines/training/autorag/documents_rag_optimization_pipeline/Containerfile
  pipelines/training/autorag/documents_rag_optimization_pipeline/artifacts.lock.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/install_sqlite_from_source.sh
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
  pipelines/training/autorag/documents_rag_optimization_pipeline/seed_docling_models.py
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme

regression tests / contract on pipeline structure (#138)
  .yamllint.yml
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/test_pipeline_unit.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/pipeline.yaml
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/test_pipeline_unit.py
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/tests/test_pipeline_unit.py
  utils/pipeline_dag_tasks.py
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme

Update AutoRAG notebooks (#146)
  components/training/autorag/rag_templates_optimization/notebook_templates/chroma_template.ipynb
  components/training/autorag/rag_templates_optimization/notebook_templates/ls_indexing_template.ipynb
  components/training/autorag/rag_templates_optimization/notebook_templates/ls_inference_template.ipynb
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
Due: yamllint, validate-readme

add more generic autox base image pattern to allowlist
  scripts/validate_base_images/base_image_allowlist.yaml
Due: yamllint

remove files from downstream that are not required for midstream
  .github/renovate.json
  .tekton/odh-automl-pull-request.yaml
  .tekton/odh-pipelines-components-on-pull-request.yaml
Due: yamllint

use the smae images in Dockerfile.konflux as in downstream repo
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
Due: none

ci: Refactor environment variable usage in workflows (#140)
  .github/workflows/ci-checks.yml
  .github/workflows/container-build.yml
Due: yamllint

fix: enable SSL verification and safe tarfile extraction in finetuning components
  components/training/finetuning/component.py
  components/training/finetuning_algorithms/shared/data.py
  components/training/finetuning_algorithms/shared/setup.py
  components/training/finetuning_algorithms/shared/tests/test_data.py
  components/training/finetuning_algorithms/shared/tests/test_setup.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

fix: regenerate finetuning README and remove build artifact
  components/training/finetuning/README.md
  components/training/finetuning/lora/component_component.yaml
Due: yamllint, validate-readme, markdownlint
