Repository red-hat-data-services/pipelines-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
      - id: yamllint
        name: yamllint
        entry: uv run yamllint -c .yamllint.yml
        language: system
        types: [yaml]
      - id: import-guard
        name: import-guard
        entry: >
          uv run python .github/scripts/check_imports/check_imports.py
          --config .github/scripts/check_imports/import_exceptions.yaml
        language: system
        types: [python]
        files: ^(components|pipelines)/
      - id: validate-readme
        name: validate-readme
        entry: >
          bash -c '
          changed_dirs=$(echo "$@" | xargs -n1 dirname | grep -E "^(components|pipelines)/[^/]+/[^/]+$" | sort -u);
          if [ -n "$changed_dirs" ]; then
            ./.github/scripts/validate_readmes/test-readme-check.sh $changed_dirs || exit 1;
          fi
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/[^/]+/
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli@0.39.0 --fix -c .markdownlint.json
        language: system
        types: [markdown]
      - id: validate-metadata
        name: validate-metadata
        entry: >
          bash -c '
          changed_dirs=$(echo "$@" | xargs -n1 dirname | sort -u);
          for dir in $changed_dirs; do
            if [[ -f "$dir/metadata.yaml" && -f "$dir/OWNERS" ]]; then
              echo "Validating metadata for $dir";
              uv run python scripts/validate_metadata/validate_metadata.py --dir "$dir" || exit 1;
            fi;
          done
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/(metadata\.yaml|OWNERS)$
      - id: validate-base-images
        name: validate-base-images
        entry: >
          bash -c '
          components=();
          pipelines=();
          for file in "$@"; do
            if [[ "$file" =~ ^components/[^/]+/[^/]+/component\.py$ ]]; then
              dir=$(dirname "$file");
              components+=("--component" "$dir");
            elif [[ "$file" =~ ^pipelines/[^/]+/[^/]+/pipeline\.py$ ]]; then
              dir=$(dirname "$file");
              pipelines+=("--pipeline" "$dir");
            fi;
          done;
          if [[ ${#components[@]} -gt 0 || ${#pipelines[@]} -gt 0 ]]; then
            echo "Validating base images for changed components/pipelines";
            uv run python scripts/validate_base_images/validate_base_images.py \
              "${components[@]}" "${pipelines[@]}" || exit 1;
          fi
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/[^/]+/(component|pipeline)\.py$

ci: Remove workflow branch filters so CI runs on all target branches (#141)
  .github/workflows/base-image-check.yml
  .github/workflows/build-packages.yml
  .github/workflows/compile-and-deps.yml
  .github/workflows/component-pipeline-tests.yml
  .github/workflows/container-build.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/package-entries-check.yml
  .github/workflows/python-lint.yml
  .github/workflows/readme-check.yml
  .github/workflows/scripts-tests.yml
  .github/workflows/validate-metadata-schema.yml
  .github/workflows/yaml-lint.yml
Due: yamllint

add Dockerfile.konflux.*
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
  Dockerfile.konflux.pipelines-components
Due: none

add renovate.json
  .github/renovate.json
Due: none

regenerate autox pipeline yaml files
  .yamllint.yml
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
  pipelines/training/automl/autogluon_timeseries_training_pipeline/pipeline.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
Due: yamllint, validate-readme

fix: Remove `--extra test` flag from `uv sync` in Dockerfile.konflux.pipelines-components
  Dockerfile.konflux.pipelines-components
Due: none

chore: update autogluon package versions to 1.5.0+rhaiv.2 in requirements and notebooks
  components/training/automl/autogluon_models_training/notebook_templates/classification_notebook.ipynb
  components/training/automl/autogluon_models_training/notebook_templates/regression_notebook.ipynb
  components/training/automl/autogluon_timeseries_models_full_refit/notebook_templates/timeseries_notebook.ipynb
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
Due: validate-readme

image digest updated for AutoML pipelines
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
  pipelines/training/automl/autogluon_timeseries_training_pipeline/pipeline.yaml
Due: yamllint, validate-readme

image digest updated for AutoRAG pipeline
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
Due: yamllint, validate-readme

duplicates and infs handling + unit tests
  components/data_processing/automl/tabular_data_loader/component.py
  components/data_processing/automl/tabular_data_loader/tests/mocked_pandas.py
  components/data_processing/automl/tabular_data_loader/tests/test_component_unit.py
  components/training/automl/autogluon_models_training/component.py
  components/training/automl/autogluon_models_training/tests/test_component_unit.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/test_configs.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/test_pipeline_unit.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/test_tabular_config_loader.py
Due: ruff-format, ruff-check, import-guard, validate-readme

update test configs based on review comments
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/test_configs.py
Due: ruff-format, ruff-check, import-guard, validate-readme

Konflux Internal p02 update odh-autorag-v3-5-ea-1
  .tekton/odh-autorag-v3-5-ea-1-pull-request.yaml
  .tekton/odh-autorag-v3-5-ea-1-push.yaml
Due: yamllint

Konflux Internal p02 update odh-pipelines-components-v3-5-ea-1
  .tekton/odh-pipelines-components-v3-5-ea-1-pull-request.yaml
  .tekton/odh-pipelines-components-v3-5-ea-1-push.yaml
Due: yamllint

Revert "update the inf handling from math to np"
  components/data_processing/automl/tabular_data_loader/component.py
  components/data_processing/automl/tabular_data_loader/tests/mocked_pandas.py
  components/training/automl/autogluon_models_training/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme

data cleansing proposal for time-series
  components/data_processing/automl/timeseries_data_loader/component.py
  components/data_processing/automl/timeseries_data_loader/tests/mocked_pandas.py
  components/data_processing/automl/timeseries_data_loader/tests/test_component_unit.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/README.md
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint

chore: update AutoML pipeline.yaml files with latest images
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
  pipelines/training/automl/autogluon_timeseries_training_pipeline/pipeline.yaml
Due: yamllint, validate-readme

refactor: Update S3 model download logic in notebooks for improved path validation and error handling
  components/data_processing/autorag/text_extraction/README.md
  components/data_processing/autorag/text_extraction/component.py
  components/data_processing/autorag/text_extraction/metadata.yaml
  components/training/automl/autogluon_models_training/README.md
  components/training/automl/autogluon_models_training/metadata.yaml
  components/training/automl/autogluon_models_training/notebook_templates/classification_notebook.ipynb
  components/training/automl/autogluon_models_training/notebook_templates/regression_notebook.ipynb
  components/training/automl/autogluon_timeseries_models_full_refit/README.md
  components/training/automl/autogluon_timeseries_models_full_refit/metadata.yaml
  components/training/automl/autogluon_timeseries_models_full_refit/notebook_templates/timeseries_notebook.ipynb
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint

change field name to single
  components/training/automl/autogluon_models_training/README.md
  components/training/automl/autogluon_models_training/component.py
  components/training/automl/autogluon_models_training/tests/test_component_unit.py
  components/training/automl/autogluon_timeseries_models_full_refit/README.md
  components/training/automl/autogluon_timeseries_models_full_refit/component.py
  components/training/automl/autogluon_timeseries_models_full_refit/tests/test_component_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint

implementing suggestions in https://redhat.atlassian.net/browse/RHOAIENG-59984
  .github/workflows/sync-requirements.yml
  .tekton/odh-pipelines-components-v3-4-push.yaml
  requirements.txt
Due: yamllint

temp konflux file
  .tekton/odh-pipelines-components-v3-4-pull-request.yaml
Due: yamllint

added support to build Dockerfile on ppc64le
  Dockerfile.konflux.pipelines-components
Due: none

create wheelsdir for other arches for mounting
  Dockerfile.konflux.pipelines-components
Due: none

Update training/automl file to use kfp 2.16.0
  pipelines/training/automl/autogluon_tabular_training_pipeline/README.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/metadata.yaml
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
  pipelines/training/automl/autogluon_timeseries_training_pipeline/README.md
  pipelines/training/automl/autogluon_timeseries_training_pipeline/metadata.yaml
Due: yamllint, validate-readme, markdownlint

Update according to code rabbit review
  components/training/autorag/rag_templates_optimization/requirements.txt
Due: validate-readme

Downgrade protobuf to v6.33.6
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
Due: validate-readme

implementing suggestions in https://redhat.atlassian.net/browse/RHOAIENG-59984
  .github/workflows/sync-requirements.yml
  .tekton/odh-pipelines-components-v3-4-pull-request.yaml
  .tekton/odh-pipelines-components-v3-4-push.yaml
  Dockerfile.konflux.pipelines-components
  requirements-build.txt
  requirements.txt
Due: yamllint

implementing suggestions in https://redhat.atlassian.net/browse/RHOAIENG-59984
  .github/workflows/sync-requirements.yml
  .tekton/odh-pipelines-components-pull-request.yaml
  .tekton/odh-pipelines-components-v3-4-pull-request.yaml
  Dockerfile.konflux.pipelines-components
  requirements-build.txt
  requirements.txt
Due: yamllint

deleting redundant tekton pipeline
  .tekton/odh-pipelines-components-v3-4-pull-request.yaml
Due: yamllint

use same uv versions in builder stage as well as final stage to avoid cache sha mismatch
  Dockerfile.konflux.pipelines-components
Due: none

Inference notebook template and source code (nb generation part) updated to account for HS parameters
  components/training/autorag/rag_templates_optimization/component.py
  components/training/autorag/rag_templates_optimization/notebook_templates/ls_inference_template.ipynb
Due: ruff-format, ruff-check, import-guard, validate-readme

Update ai4rag version in notebooks
  components/training/autorag/rag_templates_optimization/notebook_templates/ls_indexing_template.ipynb
  components/training/autorag/rag_templates_optimization/notebook_templates/ls_inference_template.ipynb
Due: validate-readme

feat: add automl integration test fixes from dryszka fork
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/.env.template
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/README_integration.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/conftest.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/integration_config.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/test_configs.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/test_pipeline_integration.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/test_pipeline_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint

fix: use RHOAI datascience runtime image for automl components
  utils/consts.py
Due: ruff-format, ruff-check

chore(pipelines): Removed .git, Readme.md and .png files from list of files downloaded from HF
  pipelines/training/autorag/documents_rag_optimization_pipeline/artifacts.lock.yaml
Due: yamllint, validate-readme

chore(pipelines): Removed .git, Readme.md and .png files from list of files downloaded from HF (#30)
  pipelines/training/autorag/documents_rag_optimization_pipeline/artifacts.lock.yaml
Due: yamllint, validate-readme
