Repository red-hat-data-services/pipelines-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

yamllint:
  name: yamllint
  entry: uv run yamllint -c .yamllint.yml
  language: system

import-guard:
  name: import-guard
  entry: 'uv run python .github/scripts/check_imports/check_imports.py --config .github/scripts/check_imports/import_exceptions.yaml
  
    '
  language: system

validate-readme:
  name: validate-readme
  entry: "bash -c ' changed_dirs=$(echo \"$@\" | xargs -n1 dirname | grep -E \"^(components|pipelines)/[^/]+/[^/]+$\" | sort -u); if [ -n \"$changed_dirs\" ]; then\n  ./.github/scripts/validate_readmes/test-readme-check.sh $changed_dirs || exit 1;\nfi ' --\n"
  language: system

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli@0.39.0 --fix -c .markdownlint.json
  language: system

validate-metadata:
  name: validate-metadata
  ...

validate-base-images:
  name: validate-base-images
  ...

Merge pull request #68 from nsingla/RHOAIENG-59984-odh
  .github/workflows/sync-requirements.yml
  .pre-commit-config.yaml
  .tekton/odh-pipelines-components-ci-on-pull-request.yaml
  .tekton/odh-pipelines-components-ci-on-push.yaml
  Dockerfile.konflux.pipelines-components
  Makefile
  requirements-build.txt
  requirements.txt
Due: yamllint

ci: Update namespace in pipeline configuration to `rhoai-tenant`
  .tekton/odh-pipelines-components-ci-on-pull-request.yaml
Due: yamllint

ci: Add support for multi-platform builds in pipeline configuration
  .tekton/odh-pipelines-components-ci-on-push.yaml
Due: yamllint

ci: Update Tekton pipeline labels to use release branch `rhoai-v3-5-ea-2`
  .tekton/odh-pipelines-components-ci-on-pull-request.yaml
  .tekton/odh-pipelines-components-ci-on-push.yaml
Due: yamllint

ci: Update service account in Tekton pipeline configurations
  .tekton/odh-pipelines-components-ci-on-pull-request.yaml
  .tekton/odh-pipelines-components-ci-on-push.yaml
Due: yamllint

ci: Update repository URLs and target branch parameter in Tekton pipeline definitions
  .tekton/odh-pipelines-components-ci-on-pull-request.yaml
  .tekton/odh-pipelines-components-ci-on-push.yaml
Due: yamllint

ci: Update namespaces in Tekton pipeline definitions to `rhoai-tenant`
  .tekton/odh-automl-ci-on-push.yaml
  .tekton/odh-automl-ci-pull-request.yaml
  .tekton/odh-autorag-ci-on-push.yaml
  .tekton/odh-autorag-ci-pull-request.yaml
  .tekton/odh-pipelines-components-ci-on-push.yaml
Due: yamllint

ci: Fix incorrect path for multi-arch build pipeline definitions
  .tekton/odh-pipelines-components-ci-on-pull-request.yaml
  .tekton/odh-pipelines-components-ci-on-push.yaml
Due: yamllint

ci: Add PR verification label in Dockerfile for hermetic build tracking
  Dockerfile.konflux.pipelines-components
Due: none

ci: Add build-platforms parameter for multi-arch support in PR pipelines
  .tekton/odh-pipelines-components-ci-on-pull-request.yaml
Due: yamllint

ci: Add build-platforms parameter for multi-arch support
  .tekton/odh-pipelines-components-ci-on-pull-request.yaml
  .tekton/odh-pipelines-components-ci-on-push.yaml
Due: yamllint

fixing PR checks
  components/training/automl/autogluon_models_training/README.md
  components/training/automl/autogluon_models_training/tests/test_component_unit.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/README.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/test_pipeline_integration.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint

ruff fixes
  components/training/automl/autogluon_models_training/tests/test_component_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme

refactor(autorag): migrate to OCI artifacts for Docling models and update pipeline scripts
  Dockerfile.konflux.autorag
  pipelines/training/autorag/documents_rag_optimization_pipeline/Containerfile
  pipelines/training/autorag/documents_rag_optimization_pipeline/artifacts.lock.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/install_sqlite_from_source.sh
  pipelines/training/autorag/documents_rag_optimization_pipeline/seed_docling_models.py
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme

clean up scikit-learn dependencies
  components/training/automl/autogluon_models_training/component.py
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, import-guard, validate-readme

generate readme files and fix linting
  components/data_processing/README.md
  components/data_processing/download_model/README.md
  components/data_processing/download_model/component.py
  components/data_processing/ingest_to_milvus/README.md
  components/data_processing/parse_and_chunk/README.md
  components/deployment/README.md
  components/deployment/deploy_embedding_model/README.md
  components/deployment/model_deployment/README.md
  pipelines/data_processing/ray_data/README.md
  pipelines/data_processing/ray_data/pdf_documents_processing_rag_pipeline/README.md
  pipelines/data_processing/ray_data/pdf_documents_processing_rag_pipeline/pipeline.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint, validate-base-images

add bypass_kueue flag
  components/data_processing/ingest_to_milvus/README.md
  components/data_processing/ingest_to_milvus/component.py
  components/data_processing/parse_and_chunk/README.md
  components/data_processing/parse_and_chunk/component.py
  components/deployment/model_deployment/component.py
  pipelines/data_processing/ray_data/pdf_documents_processing_rag_pipeline/README.md
  pipelines/data_processing/ray_data/pdf_documents_processing_rag_pipeline/pipeline.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint, validate-base-images

refactor(autorag): remove seed_docling_models.py and update Dockerfile to use modelcar images for Docling artifacts
  Dockerfile.konflux.autorag
  pipelines/training/autorag/documents_rag_optimization_pipeline/Containerfile
  pipelines/training/autorag/documents_rag_optimization_pipeline/artifacts.lock.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/install_sqlite_from_source.sh
  pipelines/training/autorag/documents_rag_optimization_pipeline/seed_docling_models.py
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme

Update README.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/README.md
Due: validate-readme, markdownlint

Replace pipelines refreshing with simple check
  .github/workflows/check-pipeline-yamls-rhoai.yaml
  docs/rhoai-release-pipeline-yaml-refresh.md
Due: yamllint, markdownlint

Add stage_managed_pipelines methods
  scripts/generate_managed_pipelines/generate_managed_pipelines.py
  scripts/init_managed_pipelines/init_managed_pipelines.py
Due: ruff-format, ruff-check

chore(autorag): update Docling model image references to include SHA256 digests in Dockerfile and Containerfile
  Dockerfile.konflux.autorag
  pipelines/training/autorag/documents_rag_optimization_pipeline/Containerfile
Due: validate-readme

mock sklearn methods in recently added automl unittests and extend multiclass.csv dataset for integration tests; Assisted-by: Claude Code
  components/training/automl/autogluon_models_training/tests/test_component_unit.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/data/multiclass.csv
Due: ruff-format, ruff-check, import-guard, validate-readme

move auth before codeflare sdk call
  components/data_processing/parse_and_chunk/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

chore(autorag): Fetch OCI artifacts from artifacts.lock
  .yamllint.yml
  Dockerfile.konflux.autorag
  pipelines/training/autorag/documents_rag_optimization_pipeline/Containerfile
  pipelines/training/autorag/documents_rag_optimization_pipeline/artifacts.lock.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/generate_docling_rhai_lockfile.sh
  pipelines/training/autorag/documents_rag_optimization_pipeline/install_docling_models.sh
  pipelines/training/autorag/documents_rag_optimization_pipeline/seed_docling_models.py
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme

install kfp-components on the image
  components/training/automl/__init__.py
  components/training/automl/autogluon_leaderboard_evaluation/README.md
  components/training/automl/autogluon_leaderboard_evaluation/component.py
  components/training/automl/autogluon_leaderboard_evaluation/tests/conftest.py
  components/training/automl/autogluon_leaderboard_evaluation/tests/test_component_unit.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/Containerfile
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint

chore(automl): normalize str sources to a one-element list before iterating.
  components/training/automl/autogluon_timeseries_models_training/component.py
  components/training/automl/autogluon_timeseries_models_training/tests/test_component_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme

regenerate automl compiled pipelines; use the same approach in Dockerfile.konflux.automl as it is in Containerfile
  Dockerfile.konflux.automl
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
  pipelines/training/automl/autogluon_timeseries_training_pipeline/pipeline.yaml
Due: yamllint, validate-readme

feat(ci): add container build matrix check. Fixes #119 (#127)
  .github/scripts/check_container_build_matrix/__init__.py
  .github/scripts/check_container_build_matrix/check_container_build_matrix.py
  .github/scripts/check_container_build_matrix/tests/__init__.py
  .github/scripts/check_container_build_matrix/tests/test_check_container_build_matrix.py
  .github/workflows/container-build-matrix-check.yml
Due: ruff-format, ruff-check, yamllint

UPSTREAM<carry>: ci: Add new container build contexts to `container-build.yml` workflow
  .github/workflows/container-build.yml
Due: yamllint

docs: Remove outdated references and cleanup redundant sections in README files
  components/data_processing/README.md
  components/data_processing/yoda_data_processor/README.md
Due: validate-readme, markdownlint

docs: Add reviewer information to README files for daily ingest and linear model components
  test_data/components/grouped/ml_models/linear_model/README.md
  test_data/pipelines/grouped/etl_flows/daily_ingest/README.md
Due: markdownlint

add missing ipython dependency to the automl build
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
Due: validate-readme

Changes in tekton files
  .tekton/odh-automl-v3-4-push.yaml
  .tekton/odh-autorag-v3-4-push.yaml
  .tekton/odh-pipelines-components-v3-4-push.yaml
Due: yamllint

add no-build-isolation
  Dockerfile.konflux.automl
Due: none

Test tekton builds
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
  pipelines/training/automl/autogluon_timeseries_training_pipeline/pipeline.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
Due: yamllint, validate-readme

add setuptools install
  Dockerfile.konflux.automl
Due: none

cleanup after refactoring
  components/data_processing/automl/tabular_data_loader/README.md
  components/data_processing/automl/tabular_data_loader/tests/conftest.py
  components/data_processing/automl/tabular_data_loader/tests/test_component_unit.py
  components/data_processing/automl/timeseries_data_loader/README.md
  components/data_processing/automl/timeseries_data_loader/component.py
  components/data_processing/automl/timeseries_data_loader/tests/conftest.py
  components/training/automl/README.md
  components/training/automl/autogluon_leaderboard_evaluation/README.md
  components/training/automl/autogluon_leaderboard_evaluation/example_pipelines.py
  components/training/automl/autogluon_leaderboard_evaluation/tests/conftest.py
  components/training/automl/autogluon_models_training/README.md
  components/training/automl/autogluon_models_training/notebook_templates/classification_notebook.ipynb
  components/training/automl/autogluon_models_training/notebook_templates/regression_notebook.ipynb
  components/training/automl/autogluon_models_training/tests/conftest.py
  components/training/automl/autogluon_models_training/tests/test_component_unit.py
  components/training/automl/autogluon_timeseries_models_training/README.md
  components/training/automl/autogluon_timeseries_models_training/component.py
  components/training/automl/autogluon_timeseries_models_training/notebook_templates/timeseries_notebook.ipynb
  components/training/automl/autogluon_timeseries_models_training/tests/conftest.py
  components/training/automl/pipeline_manifest_publisher/OWNERS
  components/training/automl/pipeline_manifest_publisher/README.md
  components/training/automl/pipeline_manifest_publisher/component.py
  components/training/automl/pipeline_manifest_publisher/metadata.yaml
  components/training/automl/shared/notebook_templates/classification_notebook.ipynb
  components/training/automl/shared/notebook_templates/regression_notebook.ipynb
  components/training/automl/shared/notebook_templates/timeseries_notebook.ipynb
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/test_pipeline_unit.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/pipeline.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/test_pipeline_unit.py
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint

Update images for autorag and automl
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
  pipelines/training/automl/autogluon_timeseries_training_pipeline/pipeline.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
Due: yamllint, validate-readme

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  import-guard: any of: ^(components|pipelines)/ and \.py$
  validate-readme: any of: ^(components|pipelines)/[^/]+/[^/]+/
  markdownlint: any of: \.(md|markdown|mdown)$
  validate-metadata: any of: ^(components|pipelines)/[^/]+/(metadata\.yaml|OWNERS)$
  validate-base-images: any of: ^(components|pipelines)/[^/]+/[^/]+/(component|pipeline)\.py$
