Repository red-hat-data-services/pipelines-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

yamllint:
  name: yamllint
  entry: uv run yamllint -c .yamllint.yml
  language: system

import-guard:
  name: import-guard
  entry: 'uv run python .github/scripts/check_imports/check_imports.py --config .github/scripts/check_imports/import_exceptions.yaml
  
    '
  language: system

validate-readme:
  name: validate-readme
  entry: "bash -c ' changed_dirs=$(echo \"$@\" | xargs -n1 dirname | grep -E \"^(components|pipelines)/[^/]+/[^/]+$\" | sort -u); if [ -n \"$changed_dirs\" ]; then\n  ./.github/scripts/validate_readmes/test-readme-check.sh $changed_dirs || exit 1;\nfi ' --\n"
  language: system

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli@0.39.0 --fix -c .markdownlint.json
  language: system

validate-metadata:
  name: validate-metadata
  ...

validate-base-images:
  name: validate-base-images
  ...

chore: use cpu-3.3 image tag
  components/training/finetuning/component.py
  pipelines/training/osft/components/dataset_download.py
  pipelines/training/osft/components/model_registry.py
  pipelines/training/sft/components/dataset_download.py
  pipelines/training/sft/components/model_registry.py
  scripts/validate_base_images/base_image_allowlist.yaml
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, validate-base-images

chore: update READMEs
  components/data_processing/README.md
  components/data_processing/dataset_download/README.md
  components/deployment/README.md
  components/deployment/model_registry/README.md
  components/evaluation/README.md
  components/evaluation/lm_eval/README.md
Due: validate-readme, markdownlint

rename model_registry component to kubeflow_model_registry
  components/deployment/README.md
  components/deployment/kubeflow_model_registry/OWNERS
  components/deployment/kubeflow_model_registry/README.md
  components/deployment/kubeflow_model_registry/__init__.py
  components/deployment/kubeflow_model_registry/component.py
  components/deployment/kubeflow_model_registry/metadata.yaml
  components/deployment/model_registry/__init__.py
  pipelines/training/osft_minimal/pipeline.py
  pipelines/training/sft/pipeline.py
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-base-images

remove tier fields
  components/data_processing/dataset_download/metadata.yaml
  components/deployment/kubeflow_model_registry/metadata.yaml
  components/evaluation/lm_eval/metadata.yaml
  components/training/finetuning/metadata.yaml
  pipelines/training/osft/metadata.yaml
  pipelines/training/osft_minimal/metadata.yaml
  pipelines/training/sft/metadata.yaml
  pipelines/training/sft_minimal/metadata.yaml
Due: yamllint, validate-readme

resolve issues with CI
  pipelines/training/osft_minimal/__init__.py
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, import-guard, validate-readme

update READMEs for fine tuning
  components/data_processing/dataset_download/README.md
  components/deployment/kubeflow_model_registry/README.md
  components/evaluation/lm_eval/README.md
  components/training/finetuning/README.md
  pipelines/training/osft/README.md
  pipelines/training/osft_minimal/README.md
  pipelines/training/sft/README.md
  pipelines/training/sft_minimal/README.md
Due: validate-readme, markdownlint

chore: update READMEs to pass CI
  components/data_processing/dataset_download/README.md
  components/data_processing/dataset_download/component.py
  components/evaluation/lm_eval/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint, validate-base-images

chore: add kfp_components to the allowed modules
  .github/scripts/check_imports/import_exceptions.yaml
Due: yamllint

chore: remove eager imports from finetuning component
  components/training/__init__.py
  pipelines/training/__init__.py
Due: ruff-format, ruff-check, import-guard

chore: fix linting and regenerate READMEs
  components/training/README.md
  components/training/finetuning/README.md
  components/training/finetuning/component.py
  pipelines/training/README.md
  pipelines/training/osft/README.md
  pipelines/training/osft/components/dataset_download.py
  pipelines/training/osft/components/eval.py
  pipelines/training/osft/components/model_registry.py
  pipelines/training/osft/pipeline.py
  pipelines/training/sft/README.md
  pipelines/training/sft/components/dataset_download.py
  pipelines/training/sft/components/eval.py
  pipelines/training/sft/components/model_registry.py
  pipelines/training/sft/pipeline.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint, validate-base-images

chore: add dev preview to the stability metadata list
  scripts/validate_metadata/validate_metadata_test.py
Due: ruff-format, ruff-check

chore: add placeholder task
  pipelines/training/osft/pipeline.py
  pipelines/training/sft_minimal/pipeline.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

chore: add training universal image to allowed images
  scripts/validate_base_images/base_image_allowlist.yaml
Due: yamllint

feat: Updating osft and sft pipelines
  components/training/finetuning/component.py
  pipelines/training/README.md
  pipelines/training/osft/README.md
  pipelines/training/osft/__init__.py
  pipelines/training/osft/pipeline.py
  pipelines/training/osft_minimal/README.md
  pipelines/training/osft_minimal/pipeline.py
  pipelines/training/sft/README.md
  pipelines/training/sft/pipeline.py
  pipelines/training/sft_minimal/README.md
  pipelines/training/sft_minimal/__init__.py
  pipelines/training/sft_minimal/pipeline.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint, validate-base-images

fix: Fix linter errors
  pipelines/training/osft/pipeline.py
  pipelines/training/sft_minimal/pipeline.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

all sensitive data should be in secrets
  components/data_processing/dataset_download/component.py
  components/training/finetuning/README.md
  components/training/finetuning/component.py
  pipelines/training/osft/pipeline.py
  pipelines/training/osft_minimal/pipeline.py
  pipelines/training/sft/pipeline.py
  pipelines/training/sft_minimal/pipeline.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint, validate-base-images

add training loss curve graph
  components/training/finetuning/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

chore: fix lint and readme
  components/training/finetuning/README.md
  components/training/finetuning/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint, validate-base-images

update READMEs for training hub pipelines - update generator for new optional sections
  pipelines/training/osft/README.md
  pipelines/training/osft/metadata.yaml
  pipelines/training/osft/pipeline.py
  pipelines/training/osft_minimal/README.md
  pipelines/training/osft_minimal/metadata.yaml
  pipelines/training/sft/README.md
  pipelines/training/sft/metadata.yaml
  pipelines/training/sft_minimal/README.md
  pipelines/training/sft_minimal/metadata.yaml
  scripts/generate_readme/content_generator.py
  scripts/generate_readme/templates/README.md.j2
  scripts/validate_metadata/validate_metadata.py
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-base-images

chore: update task names
  pipelines/training/osft/pipeline.py
  pipelines/training/osft_minimal/pipeline.py
  pipelines/training/sft/pipeline.py
  pipelines/training/sft_minimal/pipeline.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

ensure hf_token comes from env var
  components/data_processing/dataset_download/README.md
  components/data_processing/dataset_download/component.py
  components/data_processing/dataset_download/tests/test_component_unit.py
  pipelines/training/osft/README.md
  pipelines/training/osft/pipeline.py
  pipelines/training/osft_minimal/README.md
  pipelines/training/osft_minimal/pipeline.py
  pipelines/training/sft/README.md
  pipelines/training/sft/pipeline.py
  pipelines/training/sft_minimal/README.md
  pipelines/training/sft_minimal/pipeline.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint, validate-base-images

Allow compiled pipelines and components in git repo
  .gitignore
Due: none

chore: small improvements
  components/data_processing/dataset_download/README.md
  components/data_processing/dataset_download/component.py
  pipelines/training/osft/README.md
  pipelines/training/osft/pipeline.py
  pipelines/training/osft_minimal/README.md
  pipelines/training/osft_minimal/pipeline.py
  pipelines/training/sft/README.md
  pipelines/training/sft/pipeline.py
  pipelines/training/sft_minimal/README.md
  pipelines/training/sft_minimal/pipeline.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint, validate-base-images

remove template updates
  pipelines/training/osft/README.md
  pipelines/training/osft/metadata.yaml
  pipelines/training/osft_minimal/README.md
  pipelines/training/osft_minimal/metadata.yaml
  pipelines/training/osft_minimal/pipeline.py
  pipelines/training/sft/README.md
  pipelines/training/sft/metadata.yaml
  pipelines/training/sft/pipeline.py
  pipelines/training/sft_minimal/README.md
  pipelines/training/sft_minimal/metadata.yaml
  pipelines/training/sft_minimal/pipeline.py
  scripts/generate_readme/content_generator.py
  scripts/generate_readme/templates/README.md.j2
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-base-images

chore: optimization of component training code
  components/training/finetuning/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

chore: remove display_name_as and pvc mentions
  pipelines/training/osft/README.md
  pipelines/training/osft/pipeline.py
  pipelines/training/osft_minimal/README.md
  pipelines/training/osft_minimal/pipeline.py
  pipelines/training/sft/README.md
  pipelines/training/sft/pipeline.py
  pipelines/training/sft_minimal/README.md
  pipelines/training/sft_minimal/pipeline.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint, validate-base-images

address comments
  components/training/finetuning/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

adding one shot llm compressor component and pipeline
  .pre-commit-config.yaml
  components/training/README.md
  components/training/one_shot_model_compressor/OWNERS
  components/training/one_shot_model_compressor/README.md
  components/training/one_shot_model_compressor/__init__.py
  components/training/one_shot_model_compressor/component.py
  components/training/one_shot_model_compressor/metadata.yaml
  components/training/one_shot_model_compressor/tests/__init__.py
  components/training/one_shot_model_compressor/tests/test_component_unit.py
  pipelines/training/README.md
  pipelines/training/one_shot_compression/OWNERS
  pipelines/training/one_shot_compression/README.md
  pipelines/training/one_shot_compression/__init__.py
  pipelines/training/one_shot_compression/metadata.yaml
  pipelines/training/one_shot_compression/pipeline.py
  pipelines/training/one_shot_compression/tests/__init__.py
  pipelines/training/one_shot_compression/tests/test_pipeline_unit.py
  pyproject.toml
  scripts/generate_readme/content_generator.py
  uv.lock
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-base-images

fix: Normalize paths against repo root in validation logic and update related tests
  scripts/validate_components/tests/test_validate_components.py
  scripts/validate_components/validate_components.py
Due: ruff-format, ruff-check

chore: Wrap long paragraphs in readme-generator script (#48)
  components/data_processing/yoda_data_processor/README.md
  scripts/generate_readme/category_index_generator.py
  scripts/generate_readme/constants.py
  scripts/generate_readme/content_generator.py
  test_data/components/advanced/README.md
  test_data/components/advanced/multiline_overview/README.md
  test_data/components/advanced/multiline_overview/component.py
  test_data/pipelines/basic/simple_pipeline/README.md
Due: ruff-format, ruff-check, validate-readme, markdownlint

ci: adding nsingla as a root approver (#91)
  OWNERS
Due: none

chore: regenerate READMEs for readme-check CI (RHOAIENG-48199)
  components/deployment/kubeflow_model_registry/README.md
  components/evaluation/lm_eval/README.md
  components/training/finetuning/README.md
  pipelines/training/osft/README.md
  pipelines/training/osft_minimal/README.md
  pipelines/training/sft/README.md
  pipelines/training/sft_minimal/README.md
Due: validate-readme, markdownlint

Potential fix for code scanning alert no. 9: Workflow does not contain permissions
  .github/workflows/compile-and-deps.yml
Due: yamllint

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  import-guard: any of: ^(components|pipelines)/ and \.py$
  validate-readme: any of: ^(components|pipelines)/[^/]+/[^/]+/
  markdownlint: any of: \.(md|markdown|mdown)$
  validate-metadata: any of: ^(components|pipelines)/[^/]+/(metadata\.yaml|OWNERS)$
  validate-base-images: any of: ^(components|pipelines)/[^/]+/[^/]+/(component|pipeline)\.py$
