Repository red-hat-data-services/pipelines-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint, import-guard, markdownlint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
      - id: yamllint
        name: yamllint
        entry: uv run yamllint -c .yamllint.yml
        language: system
        types: [yaml]
      - id: import-guard
        name: import-guard
        entry: >
          uv run python .github/scripts/check_imports/check_imports.py
          --config .github/scripts/check_imports/import_exceptions.yaml
        language: system
        types: [python]
        files: ^(components|pipelines)/
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli@0.39.0 --fix -c .markdownlint.json
        language: system
        types: [markdown]

test: Category-level README file generation unit tests
  .github/workflows/readme-check.yml
  scripts/generate_readme/category_index_generator.py
  scripts/generate_readme/tests/conftest.py
  scripts/generate_readme/tests/resources/component_multiline_overview.py
  scripts/generate_readme/tests/resources/component_no_docstring.py
  scripts/generate_readme/tests/test_category_index_generator.py
Due: ruff-format, ruff-check, yamllint

test: Fix readme_generator unit tests
  scripts/generate_readme/__init__.py
  scripts/generate_readme/__main__.py
  scripts/generate_readme/category_index_generator.py
  scripts/generate_readme/cli.py
  scripts/generate_readme/content_generator.py
  scripts/generate_readme/tests/test_cli.py
  scripts/generate_readme/tests/test_error_conditions.py
  scripts/generate_readme/writer.py
Due: ruff-format, ruff-check

chore: Add metadata schema validation checks for readme generation tools
  scripts/generate_readme/category_index_generator.py
Due: ruff-format, ruff-check

test: Add skip-deleted-files param to detect-changed-assets action
  .github/actions/detect-changed-assets/action.yml
  .github/scripts/detect_changed_assets/detect.py
  .github/workflows/markdown-lint.yml
  .github/workflows/python-lint.yml
  .github/workflows/yaml-lint.yml
  scripts/generate_readme/templates/README.md.j2
Due: ruff-format, ruff-check, yamllint

chore: Fix broken link in CONTRIBUTING.md
  docs/CONTRIBUTING.md
Due: markdownlint

feat: adding first component (#36)
  .github/scripts/check_imports/check_imports.py
  .github/scripts/check_imports/import_exceptions.yaml
  .markdownlint.json
  .pre-commit-config.yaml
  __init__.py
  components/data_processing/README.md
  components/data_processing/yoda_data_processor/OWNERS
  components/data_processing/yoda_data_processor/README.md
  components/data_processing/yoda_data_processor/__init__.py
  components/data_processing/yoda_data_processor/component.py
  components/data_processing/yoda_data_processor/metadata.yaml
  components/data_processing/yoda_data_processor/tests/__init__.py
  components/data_processing/yoda_data_processor/tests/test_component_local.py
  components/data_processing/yoda_data_processor/tests/test_component_unit.py
  conftest.py
  docs/CONTRIBUTING.md
  pyproject.toml
  scripts/validate_metadata/validate_metadata.py
  uv.lock
Due: ruff-format, ruff-check, yamllint, import-guard, markdownlint

chore: Remove unused requirements.txt
  scripts/validate_metadata/requirements.txt
Due: none

ci: Removed validation of missing Containerfile for custom Kubeflow images (#28)
  .github/pull_request_template.md
  scripts/validate_base_images/tests/test_validate_base_images.py
  scripts/validate_base_images/validate_base_images.py
Due: ruff-format, ruff-check, markdownlint

feat(scripts): Implement check/fix modes for readme generator
  .github/scripts/validate_readmes/test-readme-check.sh
  scripts/generate_readme/README.md
  scripts/generate_readme/cli.py
  scripts/generate_readme/constants.py
  scripts/generate_readme/tests/test_cli.py
  scripts/generate_readme/tests/test_integration.py
  scripts/generate_readme/writer.py
Due: ruff-format, ruff-check, markdownlint

chore: Added semver to ci dependencies and clean up dev dependencies
  pyproject.toml
  uv.lock
Due: none

chore: Pin ruff and yamllint versions in optional lint dependencies
  pyproject.toml
  uv.lock
Due: none

ci: Added path filters for config and dependency files (#34)
  .github/workflows/base-image-check.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/python-lint.yml
  .github/workflows/readme-check.yml
  .github/workflows/scripts-tests.yml
  .github/workflows/validate-metadata-schema.yml
  .github/workflows/yaml-lint.yml
Due: yamllint

chore: Add Dependabot configuration and update CONTRIBUTING.md with dependency update details
  .github/dependabot.yml
  docs/CONTRIBUTING.md
Due: yamllint, markdownlint

adding script to generate skeleton code for easier UX
  .pre-commit-config.yaml
  Makefile
  docs/CONTRIBUTING.md
  scripts/generate_skeleton/__init__.py
  scripts/generate_skeleton/generate_skeleton.py
  scripts/generate_skeleton/templates/OWNERS.j2
  scripts/generate_skeleton/templates/__init__.py.j2
  scripts/generate_skeleton/templates/component.py.j2
  scripts/generate_skeleton/templates/metadata.yaml.j2
  scripts/generate_skeleton/templates/pipeline.py.j2
  scripts/generate_skeleton/templates/test_local.py.j2
  scripts/generate_skeleton/templates/test_unit.py.j2
  scripts/generate_skeleton/tests/__init__.py
  scripts/generate_skeleton/tests/test_cli.py
  scripts/generate_skeleton/tests/test_generate_skeleton.py
Due: ruff-format, ruff-check, yamllint, markdownlint

chore: replace 'uv run python' with 'uv run' across repo (#53)
  Makefile
  docs/CONTRIBUTING.md
  scripts/generate_readme/README.md
  scripts/generate_readme/cli.py
  scripts/generate_readme/tests/test_integration.py
  scripts/validate_base_images/README.md
  scripts/validate_base_images/validate_base_images.py
Due: ruff-format, ruff-check, markdownlint

test: Standardize test imports to use relative imports (#50)
  .github/scripts/check_imports/tests/__init__.py
  .github/scripts/check_imports/tests/test_check_imports.py
  scripts/README.md
  scripts/generate_readme/tests/test_cli.py
  scripts/generate_readme/tests/test_error_conditions.py
  scripts/validate_base_images/__init__.py
  scripts/validate_base_images/tests/__init__.py
  scripts/validate_base_images/tests/test_validate_base_images.py
  scripts/validate_metadata/validate_metadata_test.py
Due: ruff-format, ruff-check, markdownlint

Add Pytest & Example Pipeline Validation with CI Workflow (#11)
  .github/workflows/component-pipeline-tests.yml
  docs/BESTPRACTICES.md
  pyproject.toml
  scripts/__init__.py
  scripts/tests/__init__.py
  scripts/tests/run_component_tests.py
  scripts/utils/__init__.py
  scripts/utils/parsing.py
  scripts/utils/paths.py
  scripts/validate_examples/__init__.py
  scripts/validate_examples/__main__.py
  scripts/validate_examples/validate_examples.py
  uv.lock
Due: ruff-format, ruff-check, yamllint, markdownlint

chore: fixing yaml template linting issues (#55)
  scripts/generate_skeleton/templates/metadata.yaml.j2
Due: none

fix(CI): Add missing CI dependencies and pin them (#56)
  .github/actions/setup-python-ci/action.yml
  pyproject.toml
  uv.lock
Due: yamllint

feat: Add Fine-Tuning Component and SFT+OSFT pipelines
  components/training/README.md
  components/training/__init__.py
  components/training/finetuning/OWNERS
  components/training/finetuning/README.md
  components/training/finetuning/__init__.py
  components/training/finetuning/component.py
  components/training/finetuning/metadata.yaml
  pipelines/training/README.md
  pipelines/training/__init__.py
  pipelines/training/osft/OWNERS
  pipelines/training/osft/README.md
  pipelines/training/osft/__init__.py
  pipelines/training/osft/components/__init__.py
  pipelines/training/osft/components/dataset_download.py
  pipelines/training/osft/components/eval.py
  pipelines/training/osft/components/model_registry.py
  pipelines/training/osft/metadata.yaml
  pipelines/training/osft/pipeline.py
  pipelines/training/sft/OWNERS
  pipelines/training/sft/README.md
  pipelines/training/sft/__init__.py
  pipelines/training/sft/components/__init__.py
  pipelines/training/sft/components/dataset_download.py
  pipelines/training/sft/components/eval.py
  pipelines/training/sft/components/model_registry.py
  pipelines/training/sft/metadata.yaml
  pipelines/training/sft/pipeline.py
Due: ruff-format, ruff-check, yamllint, import-guard, markdownlint

chore: upate READMEs to pass tests
  pipelines/training/osft/README.md
  pipelines/training/sft/README.md
Due: markdownlint

chore: add dev preview stability to the fine tuning component
  components/training/finetuning/metadata.yaml
  pipelines/training/osft/components/dataset_download.py
  pipelines/training/osft/components/model_registry.py
  pipelines/training/osft/metadata.yaml
  pipelines/training/sft/components/dataset_download.py
  pipelines/training/sft/components/model_registry.py
  pipelines/training/sft/metadata.yaml
Due: ruff-format, ruff-check, yamllint, import-guard

chore: update OWNERS
  components/training/finetuning/OWNERS
  pipelines/training/osft/OWNERS
  pipelines/training/sft/OWNERS
Due: none

chore: sync READMEs
  components/training/finetuning/README.md
  pipelines/training/osft/README.md
  pipelines/training/sft/README.md
Due: markdownlint

chore: add kfp-kubernetes dependency
  .github/workflows/base-image-check.yml
  pipelines/training/osft/pipeline.py
  pipelines/training/sft/pipeline.py
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, yamllint, import-guard

chore: add registry.access.redhat.com/ubi9/python-311:latest to allowed images
  .github/scripts/check_imports/import_exceptions.yaml
  scripts/validate_base_images/base_image_allowlist.yaml
Due: yamllint

feat(docs): Add warnings to the read me when the stability is not stable (#71)
  components/data_processing/yoda_data_processor/README.md
  docs/CONTRIBUTING.md
  scripts/generate_readme/content_generator.py
  scripts/generate_readme/templates/README.md.j2
  scripts/validate_metadata/validate_metadata.py
Due: ruff-format, ruff-check, markdownlint

chore: update docstrings of the components
  components/training/finetuning/README.md
  components/training/finetuning/component.py
  pipelines/training/osft/components/eval.py
  pipelines/training/osft/components/model_registry.py
  pipelines/training/sft/README.md
  pipelines/training/sft/components/eval.py
  pipelines/training/sft/components/model_registry.py
  pipelines/training/sft/pipeline.py
Due: ruff-format, ruff-check, import-guard, markdownlint

chore: upate fine tuning components to pass lint tests
  components/training/finetuning/component.py
  pipelines/training/__init__.py
  pipelines/training/osft/components/dataset_download.py
  pipelines/training/osft/components/eval.py
  pipelines/training/osft/components/model_registry.py
  pipelines/training/osft/pipeline.py
  pipelines/training/sft/components/dataset_download.py
  pipelines/training/sft/components/eval.py
  pipelines/training/sft/components/model_registry.py
  pipelines/training/sft/pipeline.py
Due: ruff-format, ruff-check, import-guard

chore: fix linting and regenerate READMEs
  components/training/README.md
  components/training/finetuning/README.md
  components/training/finetuning/component.py
  pipelines/training/README.md
  pipelines/training/osft/README.md
  pipelines/training/osft/components/dataset_download.py
  pipelines/training/osft/components/eval.py
  pipelines/training/osft/components/model_registry.py
  pipelines/training/osft/pipeline.py
  pipelines/training/sft/README.md
  pipelines/training/sft/components/dataset_download.py
  pipelines/training/sft/components/eval.py
  pipelines/training/sft/components/model_registry.py
  pipelines/training/sft/pipeline.py
Due: ruff-format, ruff-check, import-guard, markdownlint

chore: remove eager imports from finetuning component
  components/training/__init__.py
  pipelines/training/__init__.py
Due: ruff-format, ruff-check, import-guard

chore: add training universal image to allowed images
  scripts/validate_base_images/base_image_allowlist.yaml
Due: yamllint
