Repository red-hat-data-services/pipelines-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

yamllint:
  name: yamllint
  entry: uv run yamllint -c .yamllint.yml
  language: system

import-guard:
  name: import-guard
  entry: 'uv run python .github/scripts/check_imports/check_imports.py --config .github/scripts/check_imports/import_exceptions.yaml
  
    '
  language: system

validate-readme:
  name: validate-readme
  entry: "bash -c ' changed_dirs=$(echo \"$@\" | xargs -n1 dirname | grep -E \"^(components|pipelines)/[^/]+/[^/]+$\" | sort -u); if [ -n \"$changed_dirs\" ]; then\n  ./.github/scripts/validate_readmes/test-readme-check.sh $changed_dirs || exit 1;\nfi ' --\n"
  language: system

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli@0.39.0 --fix -c .markdownlint.json
  language: system

validate-metadata:
  name: validate-metadata
  ...

validate-base-images:
  name: validate-base-images
  ...

Fix missing blank line in README files
  components/training/README.md
  pipelines/training/README.md
Due: markdownlint

Fix AutoML OWNERS files
  components/data_processing/automl/OWNERS
  components/data_processing/automl/tabular_data_loader/OWNERS
  components/data_processing/automl/tabular_train_test_split/OWNERS
  components/training/automl/OWNERS
  components/training/automl/autogluon_leaderboard_evaluation/OWNERS
  components/training/automl/autogluon_models_full_refit/OWNERS
  components/training/automl/autogluon_models_selection/OWNERS
  pipelines/training/automl/OWNERS
  pipelines/training/automl/autogluon_tabular_training_pipeline/OWNERS
Due: validate-readme

Fix component's metadata YAML files
  components/data_processing/automl/tabular_data_loader/metadata.yaml
  components/data_processing/automl/tabular_train_test_split/metadata.yaml
Due: yamllint, validate-readme

Fix linter errors in AutoML artifacts
  components/data_processing/automl/tabular_data_loader/README.md
  components/data_processing/automl/tabular_data_loader/metadata.yaml
  components/data_processing/automl/tabular_train_test_split/README.md
  components/training/automl/autogluon_leaderboard_evaluation/README.md
  components/training/automl/autogluon_models_full_refit/README.md
  components/training/automl/autogluon_models_selection/README.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/README.md
Due: yamllint, validate-readme, markdownlint

fix: add blank line as required by linting rules
  scripts/generate_readme/templates/CATEGORY_README.md.j2
Due: none

Add asset generator (#52)
  components/training/autorag/rag_templates_optimization/component.py
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.py
Due: ruff-format, ruff-check, import-guard, validate-readme

hot fix for tabular train test split tests
  components/data_processing/automl/tabular_train_test_split/tests/test_component_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme

Added finetuning module to the packages
  pyproject.toml
Due: none

Add missing & fix existing OWNERS and YAML files
  components/data_processing/autorag/documents_discovery/OWNERS
  components/data_processing/autorag/documents_discovery/metadata.yaml
  components/data_processing/autorag/documents_indexing/OWNERS
  components/data_processing/autorag/documents_indexing/metadata.yaml
  components/data_processing/autorag/test_data_loader/OWNERS
  components/data_processing/autorag/test_data_loader/metadata.yaml
  components/data_processing/autorag/text_extraction/metadata.yaml
  components/deployment/autorag/rag_pattern_notebooks_to_workbench/OWNERS
  components/training/autorag/OWNERS
  components/training/autorag/leaderboard_evaluation/OWNERS
  components/training/autorag/rag_templates_optimization/OWNERS
  components/training/autorag/rag_templates_optimization/metadata.yaml
  components/training/autorag/search_space_preparation/metadata.yaml
  pipelines/training/autorag/documents_lite_rag_optimization_pipeline/metadata.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/metadata.yaml
Due: yamllint, validate-readme

Add Containerfiles for AutoRAG components and pieplines
  components/data_processing/autorag/documents_discovery/Containerfile
  components/data_processing/autorag/documents_indexing/Containerfile
  components/data_processing/autorag/test_data_loader/Containerfile
  components/data_processing/autorag/text_extraction/Containerfile
  components/deployment/autorag/rag_pattern_notebooks_to_workbench/Containerfile
  components/training/autorag/leaderboard_evaluation/Containerfile
  components/training/autorag/rag_templates_optimization/Containerfile
  components/training/autorag/search_space_preparation/Containerfile
  pipelines/training/autorag/documents_lite_rag_optimization_pipeline/Containerfile
  pipelines/training/autorag/documents_rag_optimization_pipeline/Containerfile
Due: validate-readme

Add & update all AutoRAG-related README files
  components/data_processing/README.md
  components/data_processing/autorag/README.md
  components/data_processing/autorag/documents_discovery/README.md
  components/data_processing/autorag/documents_indexing/README.md
  components/data_processing/autorag/test_data_loader/README.md
  components/data_processing/autorag/text_extraction/README.md
  components/deployment/README.md
  components/deployment/autorag/README.md
  components/deployment/autorag/rag_pattern_notebooks_to_workbench/README.md
  components/training/README.md
  components/training/autorag/README.md
  components/training/autorag/leaderboard_evaluation/README.md
  components/training/autorag/rag_templates_optimization/README.md
  components/training/autorag/search_space_preparation/README.md
  pipelines/training/README.md
  pipelines/training/autorag/README.md
  pipelines/training/autorag/documents_lite_rag_optimization_pipeline/README.md
  pipelines/training/autorag/documents_rag_optimization_pipeline/README.md
Due: validate-readme, markdownlint

Update data processing AutoRAG-related piepline README files
  pipelines/data_processing/README.md
  pipelines/data_processing/autorag/README.md
  pipelines/data_processing/autorag/documents_indexing_pipeline/README.md
  pipelines/data_processing/autorag/documents_processing_pipeline/README.md
Due: validate-readme, markdownlint

Add missing OWNERS file for AutoRAG Text Extraction component
  components/data_processing/autorag/text_extraction/OWNERS
Due: validate-readme

Fix various linter/GH checks issues for AutoRAG
  components/data_processing/autorag/text_extraction/README.md
  components/deployment/autorag/OWNERS
  components/training/autorag/rag_templates_optimization/src/proxy_objects.py
  components/training/autorag/search_space_preparation/proxy_objects.py
  scripts/validate_base_images/base_image_allowlist.yaml
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint

Fix various linter/GH checks issues for AutoRAG - part 2
  components/training/autorag/search_space_preparation/OWNERS
  components/training/autorag/search_space_preparation/README.md
  components/training/autorag/search_space_preparation/metadata.yaml
  pipelines/training/autorag/metadata.yaml
  scripts/validate_base_images/base_image_allowlist.yaml
Due: yamllint, validate-readme, markdownlint

Align KFP version in AutoML metadata + README update
  components/training/automl/autogluon_leaderboard_evaluation/README.md
  components/training/automl/autogluon_leaderboard_evaluation/metadata.yaml
  components/training/automl/autogluon_models_full_refit/README.md
  components/training/automl/autogluon_models_full_refit/metadata.yaml
  components/training/automl/autogluon_models_selection/README.md
  components/training/automl/autogluon_models_selection/metadata.yaml
Due: yamllint, validate-readme, markdownlint

hybrid search support
  components/training/autorag/leaderboard_evaluation/component.py
  components/training/autorag/rag_templates_optimization/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme

markdown lint fixes
  components/data_processing/README.md
  components/data_processing/autorag/test_data_loader/README.md
  components/data_processing/autorag/text_extraction/README.md
  components/training/autorag/leaderboard_evaluation/README.md
  components/training/autorag/rag_templates_optimization/README.md
  components/training/autorag/search_space_preparation/README.md
  pipelines/data_processing/autorag/documents_indexing_pipeline/README.md
  pipelines/training/README.md
  pipelines/training/autorag/documents_lite_rag_optimization_pipeline/README.md
  pipelines/training/autorag/documents_rag_optimization_pipeline/README.md
Due: validate-readme, markdownlint

Konflux Internal p02 update odh-automl-rhel9-poc
  .tekton/odh-automl-rhel9-poc-pull-request.yaml
  .tekton/odh-automl-rhel9-poc-push.yaml
Due: yamllint

Add & fix README files
  components/data_processing/README.md
  components/data_processing/autorag/README.md
  components/data_processing/autorag/documents_discovery/README.md
  components/data_processing/autorag/documents_indexing/README.md
  components/data_processing/autorag/test_data_loader/README.md
  components/data_processing/autorag/text_extraction/README.md
  components/deployment/README.md
  components/deployment/autorag/README.md
  components/deployment/autorag/rag_pattern_notebooks_to_workbench/README.md
  components/training/README.md
  components/training/autorag/README.md
  components/training/autorag/leaderboard_evaluation/README.md
  components/training/autorag/rag_templates_optimization/README.md
  components/training/autorag/search_space_preparation/README.md
  pipelines/data_processing/README.md
  pipelines/data_processing/autorag/README.md
  pipelines/data_processing/autorag/documents_indexing_pipeline/README.md
  pipelines/data_processing/autorag/documents_processing_pipeline/README.md
  pipelines/training/README.md
  pipelines/training/autorag/README.md
  pipelines/training/autorag/documents_lite_rag_optimization_pipeline/README.md
  pipelines/training/autorag/documents_rag_optimization_pipeline/README.md
Due: validate-readme, markdownlint

Fix README files (markdown lint)
  components/data_processing/autorag/test_data_loader/README.md
  components/data_processing/autorag/text_extraction/README.md
  components/deployment/autorag/OWNERS
  components/training/autorag/leaderboard_evaluation/README.md
  components/training/autorag/rag_templates_optimization/README.md
  components/training/autorag/search_space_preparation/README.md
  pipelines/data_processing/autorag/documents_indexing_pipeline/README.md
  pipelines/training/autorag/documents_lite_rag_optimization_pipeline/README.md
  pipelines/training/autorag/documents_rag_optimization_pipeline/README.md
Due: validate-readme, markdownlint

remove the component for promoting notebooks to workbench
  components/deployment/autorag/rag_pattern_notebooks_to_workbench/OWNERS
  components/deployment/autorag/rag_pattern_notebooks_to_workbench/README.md
  components/deployment/autorag/rag_pattern_notebooks_to_workbench/__init__.py
  components/deployment/autorag/rag_pattern_notebooks_to_workbench/component.py
  components/deployment/autorag/rag_pattern_notebooks_to_workbench/metadata.yaml
  components/deployment/autorag/rag_pattern_notebooks_to_workbench/tests/__init__.py
  components/deployment/autorag/rag_pattern_notebooks_to_workbench/tests/test_component_local.py
  components/deployment/autorag/rag_pattern_notebooks_to_workbench/tests/test_component_unit.py
  pipelines/training/autorag/documents_lite_rag_optimization_pipeline/tests/test_pipeline_unit.py
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint

line too long check fixes
  components/training/autorag/rag_templates_optimization/component.py
  components/training/autorag/rag_templates_optimization/src/proxy_objects.py
  components/training/autorag/search_space_preparation/OWNERS
  components/training/autorag/search_space_preparation/metadata.yaml
  uv.lock
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme

More checks fixes (#40)
  components/training/autorag/rag_templates_optimization/component.py
  components/training/autorag/rag_templates_optimization/src/proxy_objects.py
  components/training/autorag/search_space_preparation/OWNERS
  components/training/autorag/search_space_preparation/metadata.yaml
  uv.lock
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme

ruff format
  components/training/autorag/rag_templates_optimization/component.py
  components/training/autorag/rag_templates_optimization/src/proxy_objects.py
Due: ruff-format, ruff-check, import-guard, validate-readme

Update torch to 2.9.1+cpu
  pipelines/training/automl/autogluon_tabular_training_pipeline/Containerfile
Due: validate-readme

Added finetuning module to the packages (#27)
  pyproject.toml
Due: none

Update Containerfile to fix build in Konflux flow
  pipelines/training/automl/autogluon_tabular_training_pipeline/Containerfile
Due: validate-readme

README tables style changed to compact; README generators now properly do not wrap params descriptions in tables; aligned scripts constants to markdownlint config
  scripts/generate_readme/cli.py
  scripts/generate_readme/constants.py
  scripts/generate_readme/content_generator.py
  scripts/generate_readme/templates/README.md.j2
Due: ruff-format, ruff-check

README files regenerated after README generator script update
  components/data_processing/automl/tabular_data_loader/README.md
  components/data_processing/automl/tabular_train_test_split/README.md
  components/data_processing/dataset_download/README.md
  components/data_processing/yoda_data_processor/README.md
  components/deployment/kubeflow_model_registry/README.md
  components/evaluation/lm_eval/README.md
  components/training/automl/autogluon_leaderboard_evaluation/README.md
  components/training/automl/autogluon_models_full_refit/README.md
  components/training/automl/autogluon_models_selection/README.md
  components/training/finetuning/README.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/README.md
  pipelines/training/osft/README.md
  pipelines/training/osft_minimal/README.md
  pipelines/training/sft/README.md
  pipelines/training/sft_minimal/README.md
Due: validate-readme, markdownlint

test_data README files regenerated after README generator script update
  test_data/components/advanced/multiline_overview/README.md
  test_data/components/basic/optional_params/README.md
  test_data/components/basic/simple_component/README.md
  test_data/components/grouped/ml_models/linear_model/README.md
  test_data/pipelines/basic/simple_pipeline/README.md
  test_data/pipelines/grouped/etl_flows/daily_ingest/README.md
Due: markdownlint

fix: change data loading startegy and improve splitting (#60)
  components/data_processing/automl/README.md
  components/data_processing/automl/tabular_data_loader/README.md
  components/data_processing/automl/tabular_data_loader/component.py
  components/data_processing/automl/tabular_data_loader/metadata.yaml
  components/data_processing/automl/tabular_data_loader/tests/mocked_pandas.py
  components/data_processing/automl/tabular_data_loader/tests/test_component_unit.py
  components/data_processing/automl/tabular_train_test_split/OWNERS
  components/data_processing/automl/tabular_train_test_split/README.md
  components/data_processing/automl/tabular_train_test_split/__init__.py
  components/data_processing/automl/tabular_train_test_split/component.py
  components/data_processing/automl/tabular_train_test_split/metadata.yaml
  components/data_processing/automl/tabular_train_test_split/tests/__init__.py
  components/data_processing/automl/tabular_train_test_split/tests/test_component_local.py
  components/data_processing/automl/tabular_train_test_split/tests/test_component_unit.py
  components/training/automl/autogluon_models_full_refit/README.md
  components/training/automl/autogluon_models_full_refit/component.py
  components/training/automl/autogluon_models_full_refit/metadata.yaml
  components/training/automl/autogluon_models_full_refit/tests/test_component_unit.py
  components/training/automl/autogluon_models_selection/README.md
  components/training/automl/autogluon_models_selection/component.py
  components/training/automl/autogluon_models_selection/metadata.yaml
  components/training/automl/autogluon_models_selection/tests/test_component_unit.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/README.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/metadata.yaml
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
  pyproject.toml
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint

Comment update for tests
  components/data_processing/yoda_data_processor/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

Comment update for tests 2
  components/data_processing/yoda_data_processor/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme, validate-base-images

[Feature] Asset Generator for Chroma Vector Store (#59)
  components/training/autorag/rag_templates_optimization/component.py
  components/training/autorag/rag_templates_optimization/notebook_templates/chroma_template.ipynb
  components/training/autorag/rag_templates_optimization/notebook_templates/ls_indexing_template.ipynb
  components/training/autorag/rag_templates_optimization/notebook_templates/ls_inference_template.ipynb
  components/training/autorag/search_space_preparation/component.py
  pipelines/training/autorag/documents_lite_rag_optimization_pipeline/pipeline.py
Due: ruff-format, ruff-check, import-guard, validate-readme

[Feature] Asset Generator for Chroma Vector Store (#59) (#47)
  components/training/autorag/rag_templates_optimization/component.py
  components/training/autorag/rag_templates_optimization/notebook_templates/chroma_template.ipynb
  components/training/autorag/rag_templates_optimization/notebook_templates/ls_indexing_template.ipynb
  components/training/autorag/rag_templates_optimization/notebook_templates/ls_inference_template.ipynb
  components/training/autorag/search_space_preparation/component.py
  pipelines/training/autorag/documents_lite_rag_optimization_pipeline/pipeline.py
Due: ruff-format, ruff-check, import-guard, validate-readme

Ruff-enforced formatting
  components/training/autorag/rag_templates_optimization/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  import-guard: any of: ^(components|pipelines)/ and \.py$
  validate-readme: any of: ^(components|pipelines)/[^/]+/[^/]+/
  markdownlint: any of: \.(md|markdown|mdown)$
  validate-metadata: any of: ^(components|pipelines)/[^/]+/(metadata\.yaml|OWNERS)$
  validate-base-images: any of: ^(components|pipelines)/[^/]+/[^/]+/(component|pipeline)\.py$
