Repository red-hat-data-services/pipelines-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
      - id: yamllint
        name: yamllint
        entry: uv run yamllint -c .yamllint.yml
        language: system
        types: [yaml]
      - id: import-guard
        name: import-guard
        entry: >
          uv run python .github/scripts/check_imports/check_imports.py
          --config .github/scripts/check_imports/import_exceptions.yaml
        language: system
        types: [python]
        files: ^(components|pipelines)/
      - id: validate-readme
        name: validate-readme
        entry: >
          bash -c '
          changed_dirs=$(echo "$@" | xargs -n1 dirname | grep -E "^(components|pipelines)/[^/]+/[^/]+$" | sort -u);
          if [ -n "$changed_dirs" ]; then
            ./.github/scripts/validate_readmes/test-readme-check.sh $changed_dirs || exit 1;
          fi
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/[^/]+/
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli@0.39.0 --fix -c .markdownlint.json
        language: system
        types: [markdown]
      - id: validate-metadata
        name: validate-metadata
        entry: >
          bash -c '
          changed_dirs=$(echo "$@" | xargs -n1 dirname | sort -u);
          for dir in $changed_dirs; do
            if [[ -f "$dir/metadata.yaml" && -f "$dir/OWNERS" ]]; then
              echo "Validating metadata for $dir";
              uv run python scripts/validate_metadata/validate_metadata.py --dir "$dir" || exit 1;
            fi;
          done
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/(metadata\.yaml|OWNERS)$
      - id: validate-base-images
        name: validate-base-images
        entry: >
          bash -c '
          components=();
          pipelines=();
          for file in "$@"; do
            if [[ "$file" =~ ^components/[^/]+/[^/]+/component\.py$ ]]; then
              dir=$(dirname "$file");
              components+=("--component" "$dir");
            elif [[ "$file" =~ ^pipelines/[^/]+/[^/]+/pipeline\.py$ ]]; then
              dir=$(dirname "$file");
              pipelines+=("--pipeline" "$dir");
            fi;
          done;
          if [[ ${#components[@]} -gt 0 || ${#pipelines[@]} -gt 0 ]]; then
            echo "Validating base images for changed components/pipelines";
            uv run python scripts/validate_base_images/validate_base_images.py \
              "${components[@]}" "${pipelines[@]}" || exit 1;
          fi
          ' --
        language: system
        files: ^(components|pipelines)/[^/]+/[^/]+/(component|pipeline)\.py$

add missing ipython dependency to the automl build
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
Due: validate-readme

Update typo in autorag pipeline.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
Due: yamllint, validate-readme

Update pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
Due: yamllint, validate-readme

Recompile pipeline once again
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
Due: yamllint, validate-readme

install kfp-components from repo
  Dockerfile.konflux.automl
Due: none

recompile pipelines
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
  pipelines/training/automl/autogluon_timeseries_training_pipeline/pipeline.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
Due: yamllint, validate-readme

refactoring based on feedback
  components/data_processing/automl/tabular_data_loader/README.md
  components/data_processing/automl/tabular_data_loader/component.py
  components/data_processing/automl/timeseries_data_loader/README.md
  components/data_processing/automl/timeseries_data_loader/component.py
  components/training/automl/README.md
  components/training/automl/autogluon_leaderboard_evaluation/README.md
  components/training/automl/autogluon_leaderboard_evaluation/component.py
  components/training/automl/autogluon_leaderboard_evaluation/example_pipelines.py
  components/training/automl/autogluon_models_training/README.md
  components/training/automl/autogluon_models_training/component.py
  components/training/automl/autogluon_models_training/notebook_templates/classification_notebook.ipynb
  components/training/automl/autogluon_models_training/notebook_templates/regression_notebook.ipynb
  components/training/automl/autogluon_timeseries_models_training/README.md
  components/training/automl/autogluon_timeseries_models_training/component.py
  components/training/automl/autogluon_timeseries_models_training/notebook_templates/timeseries_notebook.ipynb
  components/training/automl/autogluon_timeseries_models_training/tests/test_component_unit.py
  components/training/automl/component_stage_map_publisher/README.md
  components/training/automl/component_stage_map_publisher/tests/__init__.py
  components/training/automl/component_stage_map_publisher/tests/test_component_unit.py
  components/training/automl/run_status_artifact_initialization/OWNERS
  components/training/automl/run_status_artifact_initialization/README.md
  components/training/automl/run_status_artifact_initialization/__init__.py
  components/training/automl/run_status_artifact_initialization/component.py
  components/training/automl/run_status_artifact_initialization/metadata.yaml
  components/training/automl/run_status_artifact_initialization/tests/test_component_unit.py
  components/training/automl/shared/component_status.py
  components/training/automl/shared/run_status.py
  components/training/automl/shared/tests/test_component_status.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/README.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/test_pipeline_unit.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/README.md
  pipelines/training/automl/autogluon_timeseries_training_pipeline/pipeline.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/pipeline.yaml
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/test_pipeline_unit.py
  pyproject.toml
Due: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint

recompile AutoML and AutoRAG pipelines
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
  pipelines/training/automl/autogluon_timeseries_training_pipeline/pipeline.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
Due: yamllint, validate-readme

use correct digests
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
  pipelines/training/automl/autogluon_timeseries_training_pipeline/pipeline.yaml
  pipelines/training/autorag/documents_rag_optimization_pipeline/pipeline.yaml
Due: yamllint, validate-readme

chore(autorag): Use docling models from registry.redhat.io in Dockerfile.konlux.autorag
  Dockerfile.konflux.autorag
Due: none

duplicated entries in pyproject.toml
  pyproject.toml
Due: none

improve kfp-components instalaltion
  pipelines/training/automl/autogluon_tabular_training_pipeline/Containerfile
Due: validate-readme

Autorag build fixes
  Dockerfile.konflux.autorag
Due: none

remove tekton files that belong to midstream
  .tekton/odh-automl-ci-on-push.yaml
  .tekton/odh-automl-ci-pull-request.yaml
  .tekton/odh-autorag-ci-on-push.yaml
  .tekton/odh-autorag-ci-pull-request.yaml
  .tekton/odh-pipelines-components-ci-on-pull-request.yaml
  .tekton/odh-pipelines-components-ci-on-push.yaml
Due: yamllint

add kfp-kubernetes to the list of automl image dependencies
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
Due: validate-readme

add .utils back to pyproject.toml
  pyproject.toml
  requirements.txt
Due: none

review feedback applied - part 2
  components/training/autorag/search_space_preparation/tests/test_component_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme

recompile automl pipelines for rhoai-3.5-ea.2
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.yaml
  pipelines/training/automl/autogluon_timeseries_training_pipeline/pipeline.yaml
Due: yamllint, validate-readme

rag pattern content modified to responses API as described in related ADR doc
  components/training/autorag/rag_templates_optimization/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme

PR checks fixed
  components/training/automl/autogluon_timeseries_models_training/README.md
  components/training/automl/shared/back_testing.py
  components/training/automl/shared/tests/test_back_testing.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint

aligned system message between generation and responses_template sections of rag pattern
  components/training/autorag/rag_templates_optimization/component.py
Due: ruff-format, ruff-check, import-guard, validate-readme

embed sample records for prediction instead of generation functions
  components/training/automl/autogluon_timeseries_models_training/component.py
  components/training/automl/shared/notebook_templates/timeseries_notebook.ipynb
  components/training/automl/shared/tests/test_timeseries_notebook_utils.py
  components/training/automl/shared/timeseries_notebook_utils.py
Due: ruff-format, ruff-check, import-guard, validate-readme

Update test_component_unit.py
  components/training/automl/autogluon_timeseries_models_training/tests/test_component_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme

fix after coderabbit review
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/conftest.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/conftest.py
Due: ruff-format, ruff-check, import-guard, validate-readme

move tmp changes to run integration tests in disconnected env
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/.env.template
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/conftest.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/integration_config.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/.env.template
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/conftest.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/integration_config.py
Due: ruff-format, ruff-check, import-guard, validate-readme

style(autorag): fix ruff formatting in test_pipeline_integration.py
  pipelines/training/autorag/documents_rag_optimization_pipeline/tests/test_pipeline_integration.py
Due: ruff-format, ruff-check, import-guard, validate-readme

fix(autorag): support pre-compiled pipeline YAML override and retry S3 artifact lookup
  pipelines/training/autorag/documents_rag_optimization_pipeline/tests/conftest.py
  pipelines/training/autorag/documents_rag_optimization_pipeline/tests/test_pipeline_integration.py
Due: ruff-format, ruff-check, import-guard, validate-readme

fix(autorag): respect KFP_VERIFY_SSL in s3_client fixture
  pipelines/training/autorag/documents_rag_optimization_pipeline/tests/conftest.py
Due: ruff-format, ruff-check, import-guard, validate-readme

fix(autorag): address review feedback on PR #71
  pipelines/training/autorag/documents_rag_optimization_pipeline/tests/.env.example
  pipelines/training/autorag/documents_rag_optimization_pipeline/tests/test_pipeline_integration.py
Due: ruff-format, ruff-check, import-guard, validate-readme

add metric name validation
  components/training/automl/autogluon_models_training/component.py
  components/training/automl/autogluon_models_training/tests/test_component_unit.py
  components/training/automl/autogluon_timeseries_models_training/component.py
  components/training/automl/autogluon_timeseries_models_training/tests/test_component_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme

fix automl pipeline unitests
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/test_pipeline_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme

add new param eval_metric
  components/training/automl/autogluon_models_training/README.md
  components/training/automl/autogluon_models_training/component.py
  components/training/automl/autogluon_models_training/tests/test_component_unit.py
  components/training/automl/autogluon_timeseries_models_training/README.md
  components/training/automl/autogluon_timeseries_models_training/component.py
  components/training/automl/autogluon_timeseries_models_training/tests/test_component_unit.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/README.md
  pipelines/training/automl/autogluon_tabular_training_pipeline/pipeline.py
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/test_configs.json
  pipelines/training/automl/autogluon_tabular_training_pipeline/tests/test_pipeline_unit.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/README.md
  pipelines/training/automl/autogluon_timeseries_training_pipeline/pipeline.py
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/test_configs.json
  pipelines/training/automl/autogluon_timeseries_training_pipeline/tests/test_pipeline_unit.py
Due: ruff-format, ruff-check, import-guard, validate-readme, markdownlint
