Repository red-hat-data-services/pipelines-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint, import-guard, validate-readme, markdownlint, validate-metadata, validate-base-images

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

yamllint:
  name: yamllint
  entry: uv run yamllint -c .yamllint.yml
  language: system

import-guard:
  name: import-guard
  entry: 'uv run python .github/scripts/check_imports/check_imports.py --config .github/scripts/check_imports/import_exceptions.yaml
  
    '
  language: system

validate-readme:
  name: validate-readme
  entry: "bash -c ' changed_dirs=$(echo \"$@\" | xargs -n1 dirname | grep -E \"^(components|pipelines)/[^/]+/[^/]+$\" | sort -u); if [ -n \"$changed_dirs\" ]; then\n  ./.github/scripts/validate_readmes/test-readme-check.sh $changed_dirs || exit 1;\nfi ' --\n"
  language: system

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli@0.39.0 --fix -c .markdownlint.json
  language: system

validate-metadata:
  name: validate-metadata
  ...

validate-base-images:
  name: validate-base-images
  ...

Update Dockerfile.konflux.autorag
  Dockerfile.konflux.autorag
Due: none

build(autorag): update BASE_IMAGE in AutoRAG konflux Dockerfile (#186)
  Dockerfile.konflux.autorag
Due: none

test: pqc base image switch
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
Due: none

adding changes to tekton files
  .tekton/odh-automl-v3-6-ea-2-push.yaml
  .tekton/odh-autorag-v3-6-ea-2-push.yaml
Due: yamllint

Migrate runtime base image to PQC variant for main
  Dockerfile.konflux.automl
Due: none

test: pqc base image switch pipelines-components
  .tekton/odh-pipelines-components-v3-6-ea-2-push.yaml
  Dockerfile.konflux.pipelines-components
Due: yamllint

fix: run PQ crypto policy setup as root
  Dockerfile.konflux.pipelines-components
Due: none

fix(s390x): work around segfault during pipeline compilation cleanup
  Dockerfile.konflux.pipelines-components
Due: none

feat: PQC base image switch for pipelines-components
  Dockerfile.konflux.pipelines-components
Due: none

feat: PQC base image switch for pipelines-components (#192)
  Dockerfile.konflux.pipelines-components
Due: none

fix: remove quotes and switch to tag-based ARG for Renovate compatibility
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
  Dockerfile.konflux.autorag-inference
Due: none

fix: switch all base images to cpu-el9.8:3.6.0-1789756226 GA
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
  Dockerfile.konflux.autorag-inference
Due: none

fix: remove quotes and switch to tag-based ARG for Renovate compatibility
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
Due: none

fix(automl, autorag): Update requirements files for AutoML and AutoRAG pipelines to include the fix for CVE-2026-84381, CVE-2026-84382 and CVE-2026-69112 (#208)
  .tekton/odh-autorag-on-pull-request.yaml
  pipelines/training/automl/autogluon_tabular_training_pipeline/requirements.txt
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: yamllint, validate-readme

ci: align autorag inference pull request pipeline
  .tekton/odh-autorag-inference-pull-request.yaml
Due: yamllint

fix: change invalid arm64 architecture name
  .tekton/odh-autorag-inference-pull-request.yaml
Due: yamllint

chore: remove rhoai-3.5 gatekeeper workflow
  .github/workflows/post-codefreeze-gatekeeper.yaml
Due: yamllint

chore: remove rhoai-3.5 gatekeeper target
  .github/workflows/post-codefreeze-gatekeeper.yaml
Due: yamllint

feat: add rhoai-3.6 EA gatekeeper targets
  .github/workflows/post-codefreeze-gatekeeper.yaml
Due: yamllint

fix: remove quotes and switch to tag-based ARG for Renovate compatibility (#210)
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
Due: none

fix(autorag): allow Whisper model cache writes
  Dockerfile.konflux.autorag
Due: none

Add whisper
  Dockerfile.konflux.autorag
Due: none

build(automl, autorag): Removed --index-url from the Dockerfiles.
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
  Dockerfile.konflux.autorag-inference
Due: none

fix: remove quotes and switch to tag-based ARG for Renovate compatibility (#211)
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
Due: none

fix(autorag): update aiohttp and lxml for 3.4 CVEs
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

fix(automl, autorag): remove build-only uv binaries from 3.5 images
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
Due: none

fix(automl, autorag): remove build-only uv binaries from 3.5 images (#238)
  Dockerfile.konflux.automl
  Dockerfile.konflux.autorag
Due: none

fix(autorag): update aiohttp and lxml for 3.4 CVEs (#237)
  pipelines/training/autorag/documents_rag_optimization_pipeline/requirements.txt
Due: validate-readme

Update Dockerfile.konflux.automl
  Dockerfile.konflux.automl
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  import-guard: any of: ^(components|pipelines)/ and \.py$
  validate-readme: any of: ^(components|pipelines)/[^/]+/[^/]+/
  markdownlint: any of: \.(md|markdown|mdown)$
  validate-metadata: any of: ^(components|pipelines)/[^/]+/(metadata\.yaml|OWNERS)$
  validate-base-images: any of: ^(components|pipelines)/[^/]+/[^/]+/(component|pipeline)\.py$
